<div *ngIf="links.length > 0 && globals.isDebug" links>
  <button (click)="onClickDelete($event, 'links')" close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <ng-container *ngFor="let link of links">
    <button (click)="openLink(link)" [class]="link.btnClass" mat-flat-button>
      <mat-icon>{{ link.icon }}</mat-icon>
      {{ link.title }}
    </button>
  </ng-container>
</div>
@for (type of ['error', 'info', 'debug', 'warn', 'todo']; track $index) {
  @if (showType(type)) {
    <div [class]="type" content>
      <button (click)="onClickDelete($event, type)" delete mat-flat-button>
        <mat-icon>delete</mat-icon>
        {{ msg[type].length }}
      </button>
      <div lines>
        @for (line of msg[type]; track $index) {
          <div [class]="classForLine(line)">
            @for (icon of iconsForLine(line); track $index) {
              <mat-icon>{{ icon }}</mat-icon>
            }
            {{ line | log }}
          </div>
        }
      </div>
    </div>
  }
}
