:host {
  margin: 0.5em;
}

button:not([icon]) {
  min-width: 42px;

  > .content {
    padding: 0;
  }

  margin: 0;
}

.title, .weektitle, .week {
  display: flex;
  flex-direction: row;

  button[big] {
    font-size: inherit;
  }
}

[monthList] {
  grid-template-columns: repeat(3, 1fr);
}

[yearList] {
  grid-template-columns: repeat(5, 1fr);
}

[monthList], [yearList] {
  display: grid;
  gap: 0.2em;
  background: var(--datepickerMonthTitleBack);
  color: var(--datepickerMonthTitleFore);
  padding: 0.2em;

  button:not([disabled]) {
    background-color: var(--datepickerBtnBack);
    color: var(--datepickerMonthTitleFore);
  }

  button:not([disabled]).active {
    background-color: var(--datepickerBtnRaisedKeyBack);
    color: var(--datepickerBtnRaisedKeyFore);
  }
}

.title {
  background-color: var(--datepickerMonthTitleBack);
  color: var(--datepickerMonthTitleFore);
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  justify-content: center;
  padding: 0.5em;
}

.mat-mdc-button {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 var(--mat-button-protected-horizontal-padding, 16px);
}

.weektitle, .weekmarks {
  background-color: var(--datepickerMonthTitleBack);
  color: var(--datepickerMonthTitleFore) !important;
  display: flex;

  button {
    color: var(--datepickerMonthTitleFore) !important;
    flex: 1;
  }
}

.month {
  background-color: var(--datepickerMonthBack);
  color: var(--datepickerMonthFore);
  display: flex;
  flex-direction: column;
}

button[week] {
  border-radius: 0;
  background-color: var(--datepickerMonthTitleBack);
  color: var(--datepickerMonthTitleFore);
}

.week {
  button {
    flex: 1;
  }

  button.raised:not(.key) {
    background-color: var(--datepickerBtnRaisedBack);
  }

  button.raised.key {
    background-color: var(--datepickerBtnRaisedKeyBack);
  }

  button.raised:not(.key):not([disabled]) {
    color: var(--datepickerBtnRaisedFore);
  }

  button.raised.key:not([disabled]) {
    color: var(--datepickerBtnRaisedKeyFore);
  }
}

.dow-active, .dow-inactive {
  ::ng-deep .content {
    padding-top: 0.05em !important;
    padding-bottom: 0.05em !important;
  }
}

.dow-active {
  background-color: var(--datepickerDowActiveBack);

  mat-icon {
    color: var(--datepickerDowActiveFore);
    margin: 0;
  }
}

.dow-inactive {
  background-color: var(--datepickerDowInactiveBack);

  mat-icon {
    color: var(--datepickerDowInactiveFore);
    margin: 0;
  }
}
