:host {
  --headBack: var(--settingsHeadBack);
  --headFore: var(--settingsHeadFore);
  --bodyBack: var(--settingsBodyBack);
  --bodyFore: var(--settingsBodyFore);
  --accentBack: var(--settingsHeadBack);
  --accentFore: var(--settingsHeadFore);
}

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

}

.paramLiteral {
  display: flex;
  flex-flow: column;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 80%;
  margin: 1em 0;

  .divider {
    margin-top: 0.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.paramList {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subParams {
  margin-left: 1.5em;
}

mat-checkbox.loop {
  ::ng-deep .mdc-checkbox__background {
    border-radius: 50%;
    outline: 5px solid var(--settingsLoopMarked);
    background-color: var(--settingsLoopMarked);
  }
}

.wrap {
  white-space: break-spaces;
}
