<!--suppress HtmlUnknownTarget -->
<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.welcome">
  <div mat-dialog-title>
    <div>
      <h1>{{ globals.titles.welcome }}</h1>
    </div>
    @if (!globals.isConfigured) {
      <div class="langPanel">
        @for (lang of globals.languageList; track $index) {
          @if (lang.code != globals.language.code) {
            <button (click)="ds.changeLanguage(lang, {checkConfigured: true})"
                    mat-button>
              <img alt="language {{lang.code}}" src="{{lang.imgPath}}">
            </button>
          }
        }
      </div>
    }
    <div row>
      @if (globals.isConfigured) {
        <app-close-button [data]="closeData"></app-close-button>
      }
    </div>
  </div>
  <div mat-dialog-content>
    <div i18n="welcome section 1">
      Diese Seite dient der Erzeugung von PDF-Dokumenten mit den bei Nightscout gespeicherten Daten. Dafür ist es
      notwendig, auf diese Daten zugreifen zu können, weshalb zunächst ein paar Einstellungen gespeichert werden
      müssen.
      Solange diese nicht vorhanden und gültig sind, kann die Seite nichts für Dich tun.
    </div>
    <div i18n="welcome section 2">
      Die Daten, die Du hier eingibst, werden normalerweise im localStorage des Browsers gespeichert. Dieser
      beinhaltet webseitenbezogene Daten, die nur von dieser Webseite ausgelesen werden können. In diesem Fall werden
      keine Cookies verwendet und es werden keine Daten auf Servern gespeichert. Es wird lediglich eine Verbindung zur
      angegebenen Nightscout-Instanz aufgebaut und die dort vorhandenen Daten ausgelesen, um daraus ein PDF-Dokument
      zu erzeugen. Dieses kann dann dem Diabetesberater oder sonstigen Interessenten vorgelegt werden.
    </div>
    @if (globals.isLocal) {
      <div i18n="welcome section 3">
        Wenn in den Einstellungen eine Verbindung zum Google-Konto hergestellt wird, werden die Cookies von Google
        verwendet und die Daten zusätzlich im AppStorage auf Google Drive gespeichert. Auf diese Art kann man die
        Daten zentralisiert verwalten und hat diese in jedem Browser zur Verfügung, der mit dem angegebenen Google
        Konto verbunden ist.
      </div>
    }
    <div i18n="welcome section 4">
      Die Webseite verwendet Javascript zur Erledigung ihrer Aufgaben.
    </div>
  </div>
  <div class="controls" mat-dialog-actions>
    <div class="left">
      @if (!globals.isConfigured) {
        <button (click)="showSettings()" autofocus class="iconButton" mat-button>
          <mat-icon>settings</mat-icon>
          <div i18n="label for button to open settings on welcome screen">
            Einstellungen für die Verwendung der Seite vornehmen
          </div>
        </button>
        <button (click)="doSync()" class="iconButton" mat-button>
          <mat-icon>sync_disabled</mat-icon>
          <div i18n="label for button to synchronize on welcome screen">
            Synchronisieren
          </div>
        </button>
      }
      <!--
      <signin [isVisible]="true"
        [raised]="true" [(isAuthorized)]="g.syncGoogle"
        [clientId]="g.googleClientId"
        (onEvent)="signinEvent($event)"
        (signinResult)="g.client=$event" i18n:msgDisconnected="synchronize with google drive"
      msgDisconnected="Mit Google Drive synchronisieren"></signin>
      -->
    </div>
    <div class="right">
      <button (click)="ss.showVideo('intro')" class="imageButton" mat-button>
        <img alt="video intro" src="assets/img/youtube_social_icon_red.png"/>
        <ng-container i18n="label for button to open settings on welcome screen">
          Einstiegsvideo
        </ng-container>
      </button>
      <button (click)="ss.showPopup('impressum')"
              class="legal"
              i18n="label for inprint button" mat-button>
        Impressum
      </button>
      <button (click)="ss.showPopup('dsgvo')"
              class="legal"
              i18n="label for dataprotection button" mat-button>
        Datenschutzerklärung
      </button>
    </div>
  </div>
</div>
