:host {
  --headBack: var(--shortcutHeadBack);
  --headFore: var(--shortcutHeadFore);
  --bodyBack: var(--shortcutBodyBack);
  --bodyFore: var(--shortcutBodyFore);
  --bodyData: var(--shortcutBodyData);
  --accentBack: var(--shortcutHeadBack);
  --accentFore: var(--shortcutHeadFore);
  --subHeadFore: var(--shortcutBodyFore);

  --mat-select-focused-arrow-color: var(--subHeadFore);
  --mdc-theme-primary: var(--subHeadFore);
}

.controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .label {
    padding-right: 2em;
  }
}

.info {
  margin-bottom: 1em;
}

.icondef {
  display: flex;
  flex-direction: row;
  align-items: center;
}

mat-form-field {
  width: initial;
  display: flex;
  flex: 1;

  ::ng-deep .mat-form-field-wrapper {
    display: flex;
    flex: 1;
  }
}

.indent {
  margin-left: 2em;
}

.data {
  text-transform: none;
  color: var(--bodyData);
}
