# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
*.dart
/tools/**/*.js
/tools/**/*.js.map
/src/locale/messages.*.xlf

/temp/
/src/locale/translated/
/nightrep (translations).zip
/nightrep (english) (translations).zip
/package-lock.json
/test-data/krawuzl.profileswitch.json
/src/assets/secret.json
/demo/assets/fonts/ja_fonts.js
/demo/assets/fonts/MaterialIcons-Regular.ttf
/demo/assets/fonts/MaterialIconsOutlined-Regular.otf
/demo/assets/fonts/MaterialIconsRound-Regular.otf
/demo/assets/fonts/MaterialIconsSharp-Regular.otf
/demo/assets/fonts/MaterialIconsTwoTone-Regular.otf
/demo/assets/fonts/pdfmake-fonts.json
/demo/assets/fonts/roboto-v30-latin-300.woff
/demo/assets/fonts/roboto-v30-latin-300.woff2
/demo/assets/fonts/roboto-v30-latin-500.woff
/demo/assets/fonts/roboto-v30-latin-500.woff2
/demo/assets/fonts/roboto-v30-latin-regular.woff
/demo/assets/fonts/roboto-v30-latin-regular.woff2
/demo/assets/img/thumbs/cz/analysis.png
/demo/assets/img/thumbs/cz/basal.png
/demo/assets/img/thumbs/cz/cgp.png
/demo/assets/img/thumbs/cz/cgp-landscape.png
/demo/assets/img/thumbs/cz/dayanalysis.png
/demo/assets/img/thumbs/cz/dayanalysis-landscape.png
/demo/assets/img/thumbs/cz/daygluc.png
/demo/assets/img/thumbs/cz/daygluc-full.png
/demo/assets/img/thumbs/cz/daygraph.png
/demo/assets/img/thumbs/cz/daygraph-cgp.png
/demo/assets/img/thumbs/cz/dayhours.png
/demo/assets/img/thumbs/cz/daylog.png
/demo/assets/img/thumbs/cz/dayprofile.png
/demo/assets/img/thumbs/cz/daystats.png
/demo/assets/img/thumbs/cz/glucdist.png
/demo/assets/img/thumbs/cz/percentile-0.png
/demo/assets/img/thumbs/cz/percentile-1.png
/demo/assets/img/thumbs/cz/percentile-2.png
/demo/assets/img/thumbs/cz/percentile-3.png
/demo/assets/img/thumbs/cz/percentile-4.png
/demo/assets/img/thumbs/cz/profile.png
/demo/assets/img/thumbs/cz/tdd.png
/demo/assets/img/thumbs/cz/test.png
/demo/assets/img/thumbs/cz/userdata.png
/demo/assets/img/thumbs/cz/weekgraph.png
/demo/assets/img/thumbs/cz/weekgraph-cgp.png
/demo/assets/img/thumbs/de/analysis.png
/demo/assets/img/thumbs/de/basal.png
/demo/assets/img/thumbs/de/cgp.png
/demo/assets/img/thumbs/de/cgp-landscape.png
/demo/assets/img/thumbs/de/dayanalysis.png
/demo/assets/img/thumbs/de/dayanalysis-landscape.png
/demo/assets/img/thumbs/de/daygluc.png
/demo/assets/img/thumbs/de/daygluc-full.png
/demo/assets/img/thumbs/de/daygraph.png
/demo/assets/img/thumbs/de/daygraph-cgp.png
/demo/assets/img/thumbs/de/dayhours.png
/demo/assets/img/thumbs/de/daylog.png
/demo/assets/img/thumbs/de/dayprofile.png
/demo/assets/img/thumbs/de/daystats.png
/demo/assets/img/thumbs/de/glucdist.png
/demo/assets/img/thumbs/de/percentile-0.png
/demo/assets/img/thumbs/de/percentile-1.png
/demo/assets/img/thumbs/de/percentile-2.png
/demo/assets/img/thumbs/de/percentile-3.png
/demo/assets/img/thumbs/de/percentile-4.png
/demo/assets/img/thumbs/de/profile.png
/demo/assets/img/thumbs/de/tdd.png
/demo/assets/img/thumbs/de/test.png
/demo/assets/img/thumbs/de/userdata.png
/demo/assets/img/thumbs/de/weekgraph.png
/demo/assets/img/thumbs/de/weekgraph-cgp.png
/demo/assets/img/thumbs/es/analysis.png
/demo/assets/img/thumbs/es/basal.png
/demo/assets/img/thumbs/es/cgp.png
/demo/assets/img/thumbs/es/cgp-landscape.png
/demo/assets/img/thumbs/es/dayanalysis.png
/demo/assets/img/thumbs/es/dayanalysis-landscape.png
/demo/assets/img/thumbs/es/daygluc.png
/demo/assets/img/thumbs/es/daygluc-full.png
/demo/assets/img/thumbs/es/daygraph.png
/demo/assets/img/thumbs/es/daygraph-cgp.png
/demo/assets/img/thumbs/es/dayhours.png
/demo/assets/img/thumbs/es/daylog.png
/demo/assets/img/thumbs/es/dayprofile.png
/demo/assets/img/thumbs/es/daystats.png
/demo/assets/img/thumbs/es/glucdist.png
/demo/assets/img/thumbs/es/percentile-0.png
/demo/assets/img/thumbs/es/percentile-1.png
/demo/assets/img/thumbs/es/percentile-2.png
/demo/assets/img/thumbs/es/percentile-3.png
/demo/assets/img/thumbs/es/percentile-4.png
/demo/assets/img/thumbs/es/profile.png
/demo/assets/img/thumbs/es/tdd.png
/demo/assets/img/thumbs/es/test.png
/demo/assets/img/thumbs/es/userdata.png
/demo/assets/img/thumbs/es/weekgraph.png
/demo/assets/img/thumbs/es/weekgraph-cgp.png
/demo/assets/img/thumbs/fr/analysis.png
/demo/assets/img/thumbs/fr/basal.png
/demo/assets/img/thumbs/fr/cgp.png
/demo/assets/img/thumbs/fr/cgp-landscape.png
/demo/assets/img/thumbs/fr/dayanalysis.png
/demo/assets/img/thumbs/fr/dayanalysis-landscape.png
/demo/assets/img/thumbs/fr/daygluc.png
/demo/assets/img/thumbs/fr/daygluc-full.png
/demo/assets/img/thumbs/fr/daygraph.png
/demo/assets/img/thumbs/fr/daygraph-cgp.png
/demo/assets/img/thumbs/fr/dayhours.png
/demo/assets/img/thumbs/fr/daylog.png
/demo/assets/img/thumbs/fr/dayprofile.png
/demo/assets/img/thumbs/fr/daystats.png
/demo/assets/img/thumbs/fr/glucdist.png
/demo/assets/img/thumbs/fr/percentile-0.png
/demo/assets/img/thumbs/fr/percentile-1.png
/demo/assets/img/thumbs/fr/percentile-2.png
/demo/assets/img/thumbs/fr/percentile-3.png
/demo/assets/img/thumbs/fr/percentile-4.png
/demo/assets/img/thumbs/fr/profile.png
/demo/assets/img/thumbs/fr/tdd.png
/demo/assets/img/thumbs/fr/test.png
/demo/assets/img/thumbs/fr/userdata.png
/demo/assets/img/thumbs/fr/weekgraph.png
/demo/assets/img/thumbs/fr/weekgraph-cgp.png
/demo/assets/img/thumbs/gb/analysis.png
/demo/assets/img/thumbs/gb/basal.png
/demo/assets/img/thumbs/gb/cgp.png
/demo/assets/img/thumbs/gb/cgp-landscape.png
/demo/assets/img/thumbs/gb/dayanalysis.png
/demo/assets/img/thumbs/gb/dayanalysis-landscape.png
/demo/assets/img/thumbs/gb/daygluc.png
/demo/assets/img/thumbs/gb/daygluc-full.png
/demo/assets/img/thumbs/gb/daygraph.png
/demo/assets/img/thumbs/gb/daygraph-cgp.png
/demo/assets/img/thumbs/gb/dayhours.png
/demo/assets/img/thumbs/gb/daylog.png
/demo/assets/img/thumbs/gb/dayprofile.png
/demo/assets/img/thumbs/gb/daystats.png
/demo/assets/img/thumbs/gb/glucdist.png
/demo/assets/img/thumbs/gb/percentile-0.png
/demo/assets/img/thumbs/gb/percentile-1.png
/demo/assets/img/thumbs/gb/percentile-2.png
/demo/assets/img/thumbs/gb/percentile-3.png
/demo/assets/img/thumbs/gb/percentile-4.png
/demo/assets/img/thumbs/gb/profile.png
/demo/assets/img/thumbs/gb/tdd.png
/demo/assets/img/thumbs/gb/test.png
/demo/assets/img/thumbs/gb/userdata.png
/demo/assets/img/thumbs/gb/weekgraph.png
/demo/assets/img/thumbs/gb/weekgraph-cgp.png
/demo/assets/img/thumbs/jp/analysis.png
/demo/assets/img/thumbs/jp/basal.png
/demo/assets/img/thumbs/jp/cgp.png
/demo/assets/img/thumbs/jp/cgp-landscape.png
/demo/assets/img/thumbs/jp/dayanalysis.png
/demo/assets/img/thumbs/jp/dayanalysis-landscape.png
/demo/assets/img/thumbs/jp/daygluc.png
/demo/assets/img/thumbs/jp/daygluc-full.png
/demo/assets/img/thumbs/jp/daygraph.png
/demo/assets/img/thumbs/jp/daygraph-cgp.png
/demo/assets/img/thumbs/jp/dayhours.png
/demo/assets/img/thumbs/jp/daylog.png
/demo/assets/img/thumbs/jp/dayprofile.png
/demo/assets/img/thumbs/jp/daystats.png
/demo/assets/img/thumbs/jp/glucdist.png
/demo/assets/img/thumbs/jp/percentile-0.png
/demo/assets/img/thumbs/jp/percentile-1.png
/demo/assets/img/thumbs/jp/percentile-2.png
/demo/assets/img/thumbs/jp/percentile-3.png
/demo/assets/img/thumbs/jp/percentile-4.png
/demo/assets/img/thumbs/jp/profile.png
/demo/assets/img/thumbs/jp/tdd.png
/demo/assets/img/thumbs/jp/test.png
/demo/assets/img/thumbs/jp/userdata.png
/demo/assets/img/thumbs/jp/weekgraph.png
/demo/assets/img/thumbs/jp/weekgraph-cgp.png
/demo/assets/img/thumbs/nl/analysis.png
/demo/assets/img/thumbs/nl/basal.png
/demo/assets/img/thumbs/nl/cgp.png
/demo/assets/img/thumbs/nl/cgp-landscape.png
/demo/assets/img/thumbs/nl/dayanalysis.png
/demo/assets/img/thumbs/nl/dayanalysis-landscape.png
/demo/assets/img/thumbs/nl/daygluc.png
/demo/assets/img/thumbs/nl/daygluc-full.png
/demo/assets/img/thumbs/nl/daygraph.png
/demo/assets/img/thumbs/nl/daygraph-cgp.png
/demo/assets/img/thumbs/nl/dayhours.png
/demo/assets/img/thumbs/nl/daylog.png
/demo/assets/img/thumbs/nl/dayprofile.png
/demo/assets/img/thumbs/nl/daystats.png
/demo/assets/img/thumbs/nl/glucdist.png
/demo/assets/img/thumbs/nl/percentile-0.png
/demo/assets/img/thumbs/nl/percentile-1.png
/demo/assets/img/thumbs/nl/percentile-2.png
/demo/assets/img/thumbs/nl/percentile-3.png
/demo/assets/img/thumbs/nl/percentile-4.png
/demo/assets/img/thumbs/nl/profile.png
/demo/assets/img/thumbs/nl/tdd.png
/demo/assets/img/thumbs/nl/test.png
/demo/assets/img/thumbs/nl/userdata.png
/demo/assets/img/thumbs/nl/weekgraph.png
/demo/assets/img/thumbs/nl/weekgraph-cgp.png
/demo/assets/img/thumbs/no/analysis.png
/demo/assets/img/thumbs/no/basal.png
/demo/assets/img/thumbs/no/cgp.png
/demo/assets/img/thumbs/no/cgp-landscape.png
/demo/assets/img/thumbs/no/dayanalysis.png
/demo/assets/img/thumbs/no/dayanalysis-landscape.png
/demo/assets/img/thumbs/no/daygluc.png
/demo/assets/img/thumbs/no/daygluc-full.png
/demo/assets/img/thumbs/no/daygraph.png
/demo/assets/img/thumbs/no/daygraph-cgp.png
/demo/assets/img/thumbs/no/dayhours.png
/demo/assets/img/thumbs/no/daylog.png
/demo/assets/img/thumbs/no/dayprofile.png
/demo/assets/img/thumbs/no/daystats.png
/demo/assets/img/thumbs/no/glucdist.png
/demo/assets/img/thumbs/no/percentile-0.png
/demo/assets/img/thumbs/no/percentile-1.png
/demo/assets/img/thumbs/no/percentile-2.png
/demo/assets/img/thumbs/no/percentile-3.png
/demo/assets/img/thumbs/no/percentile-4.png
/demo/assets/img/thumbs/no/profile.png
/demo/assets/img/thumbs/no/tdd.png
/demo/assets/img/thumbs/no/test.png
/demo/assets/img/thumbs/no/userdata.png
/demo/assets/img/thumbs/no/weekgraph.png
/demo/assets/img/thumbs/no/weekgraph-cgp.png
/demo/assets/img/thumbs/pl/analysis.png
/demo/assets/img/thumbs/pl/basal.png
/demo/assets/img/thumbs/pl/cgp.png
/demo/assets/img/thumbs/pl/cgp-landscape.png
/demo/assets/img/thumbs/pl/dayanalysis.png
/demo/assets/img/thumbs/pl/dayanalysis-landscape.png
/demo/assets/img/thumbs/pl/daygluc.png
/demo/assets/img/thumbs/pl/daygluc-full.png
/demo/assets/img/thumbs/pl/daygraph.png
/demo/assets/img/thumbs/pl/daygraph-cgp.png
/demo/assets/img/thumbs/pl/dayhours.png
/demo/assets/img/thumbs/pl/daylog.png
/demo/assets/img/thumbs/pl/dayprofile.png
/demo/assets/img/thumbs/pl/daystats.png
/demo/assets/img/thumbs/pl/glucdist.png
/demo/assets/img/thumbs/pl/percentile-0.png
/demo/assets/img/thumbs/pl/percentile-1.png
/demo/assets/img/thumbs/pl/percentile-2.png
/demo/assets/img/thumbs/pl/percentile-3.png
/demo/assets/img/thumbs/pl/percentile-4.png
/demo/assets/img/thumbs/pl/profile.png
/demo/assets/img/thumbs/pl/tdd.png
/demo/assets/img/thumbs/pl/test.png
/demo/assets/img/thumbs/pl/userdata.png
/demo/assets/img/thumbs/pl/weekgraph.png
/demo/assets/img/thumbs/pl/weekgraph-cgp.png
/demo/assets/img/thumbs/pt/analysis.png
/demo/assets/img/thumbs/pt/basal.png
/demo/assets/img/thumbs/pt/cgp.png
/demo/assets/img/thumbs/pt/cgp-landscape.png
/demo/assets/img/thumbs/pt/dayanalysis.png
/demo/assets/img/thumbs/pt/dayanalysis-landscape.png
/demo/assets/img/thumbs/pt/daygluc.png
/demo/assets/img/thumbs/pt/daygluc-full.png
/demo/assets/img/thumbs/pt/daygraph.png
/demo/assets/img/thumbs/pt/daygraph-cgp.png
/demo/assets/img/thumbs/pt/dayhours.png
/demo/assets/img/thumbs/pt/daylog.png
/demo/assets/img/thumbs/pt/dayprofile.png
/demo/assets/img/thumbs/pt/daystats.png
/demo/assets/img/thumbs/pt/glucdist.png
/demo/assets/img/thumbs/pt/percentile-0.png
/demo/assets/img/thumbs/pt/percentile-1.png
/demo/assets/img/thumbs/pt/percentile-2.png
/demo/assets/img/thumbs/pt/percentile-3.png
/demo/assets/img/thumbs/pt/percentile-4.png
/demo/assets/img/thumbs/pt/profile.png
/demo/assets/img/thumbs/pt/tdd.png
/demo/assets/img/thumbs/pt/test.png
/demo/assets/img/thumbs/pt/userdata.png
/demo/assets/img/thumbs/pt/weekgraph.png
/demo/assets/img/thumbs/pt/weekgraph-cgp.png
/demo/assets/img/thumbs/ru/analysis.png
/demo/assets/img/thumbs/ru/basal.png
/demo/assets/img/thumbs/ru/cgp.png
/demo/assets/img/thumbs/ru/cgp-landscape.png
/demo/assets/img/thumbs/ru/dayanalysis.png
/demo/assets/img/thumbs/ru/dayanalysis-landscape.png
/demo/assets/img/thumbs/ru/daygluc.png
/demo/assets/img/thumbs/ru/daygluc-full.png
/demo/assets/img/thumbs/ru/daygraph.png
/demo/assets/img/thumbs/ru/daygraph-cgp.png
/demo/assets/img/thumbs/ru/dayhours.png
/demo/assets/img/thumbs/ru/daylog.png
/demo/assets/img/thumbs/ru/dayprofile.png
/demo/assets/img/thumbs/ru/daystats.png
/demo/assets/img/thumbs/ru/glucdist.png
/demo/assets/img/thumbs/ru/percentile-0.png
/demo/assets/img/thumbs/ru/percentile-1.png
/demo/assets/img/thumbs/ru/percentile-2.png
/demo/assets/img/thumbs/ru/percentile-3.png
/demo/assets/img/thumbs/ru/percentile-4.png
/demo/assets/img/thumbs/ru/profile.png
/demo/assets/img/thumbs/ru/tdd.png
/demo/assets/img/thumbs/ru/test.png
/demo/assets/img/thumbs/ru/userdata.png
/demo/assets/img/thumbs/ru/weekgraph.png
/demo/assets/img/thumbs/ru/weekgraph-cgp.png
/demo/assets/img/thumbs/sk/analysis.png
/demo/assets/img/thumbs/sk/basal.png
/demo/assets/img/thumbs/sk/cgp.png
/demo/assets/img/thumbs/sk/cgp-landscape.png
/demo/assets/img/thumbs/sk/dayanalysis.png
/demo/assets/img/thumbs/sk/dayanalysis-landscape.png
/demo/assets/img/thumbs/sk/daygluc.png
/demo/assets/img/thumbs/sk/daygluc-full.png
/demo/assets/img/thumbs/sk/daygraph.png
/demo/assets/img/thumbs/sk/daygraph-cgp.png
/demo/assets/img/thumbs/sk/dayhours.png
/demo/assets/img/thumbs/sk/daylog.png
/demo/assets/img/thumbs/sk/dayprofile.png
/demo/assets/img/thumbs/sk/daystats.png
/demo/assets/img/thumbs/sk/glucdist.png
/demo/assets/img/thumbs/sk/percentile-0.png
/demo/assets/img/thumbs/sk/percentile-1.png
/demo/assets/img/thumbs/sk/percentile-2.png
/demo/assets/img/thumbs/sk/percentile-3.png
/demo/assets/img/thumbs/sk/percentile-4.png
/demo/assets/img/thumbs/sk/profile.png
/demo/assets/img/thumbs/sk/tdd.png
/demo/assets/img/thumbs/sk/test.png
/demo/assets/img/thumbs/sk/userdata.png
/demo/assets/img/thumbs/sk/weekgraph.png
/demo/assets/img/thumbs/sk/weekgraph-cgp.png
/demo/assets/img/thumbs/us/analysis.png
/demo/assets/img/thumbs/us/basal.png
/demo/assets/img/thumbs/us/cgp.png
/demo/assets/img/thumbs/us/cgp-landscape.png
/demo/assets/img/thumbs/us/dayanalysis.png
/demo/assets/img/thumbs/us/dayanalysis-landscape.png
/demo/assets/img/thumbs/us/daygluc.png
/demo/assets/img/thumbs/us/daygluc-full.png
/demo/assets/img/thumbs/us/daygraph.png
/demo/assets/img/thumbs/us/daygraph-cgp.png
/demo/assets/img/thumbs/us/dayhours.png
/demo/assets/img/thumbs/us/daylog.png
/demo/assets/img/thumbs/us/dayprofile.png
/demo/assets/img/thumbs/us/daystats.png
/demo/assets/img/thumbs/us/glucdist.png
/demo/assets/img/thumbs/us/percentile-0.png
/demo/assets/img/thumbs/us/percentile-1.png
/demo/assets/img/thumbs/us/percentile-2.png
/demo/assets/img/thumbs/us/percentile-3.png
/demo/assets/img/thumbs/us/percentile-4.png
/demo/assets/img/thumbs/us/profile.png
/demo/assets/img/thumbs/us/tdd.png
/demo/assets/img/thumbs/us/test.png
/demo/assets/img/thumbs/us/userdata.png
/demo/assets/img/thumbs/us/weekgraph.png
/demo/assets/img/thumbs/us/weekgraph-cgp.png
/demo/assets/img/thumbs/analysis.png
/demo/assets/img/thumbs/basal.png
/demo/assets/img/thumbs/cgp.png
/demo/assets/img/thumbs/cgp-landscape.png
/demo/assets/img/thumbs/dayanalysis.png
/demo/assets/img/thumbs/dayanalysis-landscape.png
/demo/assets/img/thumbs/daygraph.png
/demo/assets/img/thumbs/daygraph-cgp.png
/demo/assets/img/thumbs/daylog.png
/demo/assets/img/thumbs/dayprofile.png
/demo/assets/img/thumbs/daystats.png
/demo/assets/img/thumbs/percentile-0.png
/demo/assets/img/thumbs/percentile-1.png
/demo/assets/img/thumbs/percentile-2.png
/demo/assets/img/thumbs/profile.png
/demo/assets/img/thumbs/test.png
/demo/assets/img/thumbs/weekgraph.png
/demo/assets/img/thumbs/weekgraph-cgp.png
/demo/assets/img/ampulle.print.png
/demo/assets/img/arrow-left.png
/demo/assets/img/arrow-right.png
/demo/assets/img/battery.print.png
/demo/assets/img/checkers.png
/demo/assets/img/dropbox.png
/demo/assets/img/empty.print.png
/demo/assets/img/google.svg
/demo/assets/img/katheter.png
/demo/assets/img/katheter.print.png
/demo/assets/img/lang-cz.png
/demo/assets/img/lang-de.png
/demo/assets/img/lang-es.png
/demo/assets/img/lang-fr.png
/demo/assets/img/lang-gb.png
/demo/assets/img/lang-jp.png
/demo/assets/img/lang-nl.png
/demo/assets/img/lang-no.png
/demo/assets/img/lang-pl.png
/demo/assets/img/lang-pt.png
/demo/assets/img/lang-ru.png
/demo/assets/img/lang-sk.png
/demo/assets/img/lang-us.png
/demo/assets/img/night-watch.png
/demo/assets/img/night-watch-white.png
/demo/assets/img/nightscout.png
/demo/assets/img/nightscout-black.png
/demo/assets/img/nightscout-hat.png
/demo/assets/img/nightscout-pale.png
/demo/assets/img/nightscout-reporter.png
/demo/assets/img/nightscout-white.png
/demo/assets/img/nr01.png
/demo/assets/img/nr02.png
/demo/assets/img/nr03.png
/demo/assets/img/nr04.png
/demo/assets/img/nr05.png
/demo/assets/img/nr06.png
/demo/assets/img/nr-120x120.png
/demo/assets/img/nr-192x192.png
/demo/assets/img/owl.svg
/demo/assets/img/pdf.png
/demo/assets/img/sensor.png
/demo/assets/img/sensor.print.png
/demo/assets/img/steps.print.png
/demo/assets/img/youtube_social_icon_red.png
/demo/assets/old-dart/json/de_DE.json
/demo/assets/old-dart/json/en_GB.json
/demo/assets/old-dart/json/en_US.json
/demo/assets/old-dart/json/es_ES.json
/demo/assets/old-dart/json/fr_FR.json
/demo/assets/old-dart/json/ja_JP.json
/demo/assets/old-dart/json/nl_NL.json
/demo/assets/old-dart/json/no_NO.json
/demo/assets/old-dart/json/pl_PL.json
/demo/assets/old-dart/json/pt_PT.json
/demo/assets/old-dart/json/sk_SK.json
/demo/assets/old-dart/xliff/intl_en_GB.xliff
/demo/assets/old-dart/xliff/intl_en_US.xliff
/demo/assets/old-dart/xliff/intl_es_ES.xliff
/demo/assets/old-dart/xliff/intl_sk_SK.xliff
/demo/assets/old-dart/xliff-en/intl_fr_FR.xliff
/demo/assets/old-dart/xliff-en/intl_ja_JP.xliff
/demo/assets/old-dart/xliff-en/intl_nl_NL.xliff
/demo/assets/old-dart/xliff-en/intl_no_NO.xliff
/demo/assets/old-dart/xliff-en/intl_pl_PL.xliff
/demo/assets/old-dart/xliff-en/intl_pt_PT.xliff
/demo/assets/old-dart/intl_de_DE.arb
/demo/assets/old-dart/intl_en_GB.arb
/demo/assets/old-dart/intl_en_US.arb
/demo/assets/old-dart/intl_es_ES.arb
/demo/assets/old-dart/intl_fr_FR.arb
/demo/assets/old-dart/intl_ja_JP.arb
/demo/assets/old-dart/intl_nl_NL.arb
/demo/assets/old-dart/intl_no_NO.arb
/demo/assets/old-dart/intl_pl_PL.arb
/demo/assets/old-dart/intl_pt_PT.arb
/demo/assets/old-dart/intl_sk_SK.arb
/demo/assets/php/config.php
/demo/assets/php/DatabaseConnector.php
/demo/assets/php/index.php
/demo/assets/php/themes.sqlite
/demo/assets/scripts/pdf.js
/demo/assets/scripts/pdf.worker.js
/demo/assets/themes/own/favicon.png
/demo/assets/themes/own/favicon-watch.png
/demo/assets/themes/own/index.css
/demo/assets/themes/own/owl.png
/demo/assets/themes/own/owl-watch.png
/demo/assets/themes/standard/colors.json
/demo/assets/themes/standard/favicon.png
/demo/assets/themes/standard/favicon-watch.png
/demo/assets/themes/standard/index.css
/demo/assets/themes/standard/owl.png
/demo/assets/themes/standard/owl-watch.png
/demo/assets/themes/xmas/colors.json
/demo/assets/themes/xmas/favicon.png
/demo/assets/themes/xmas/favicon-watch.png
/demo/assets/themes/xmas/index.css
/demo/assets/themes/xmas/owl.png
/demo/assets/themes/xmas/owl-watch.png
/demo/assets/themes/wizard.png
/demo/assets/manifest.dev.json
/demo/assets/manifest.dev.watch.json
/demo/assets/manifest.json
/demo/assets/manifest.watch.json
/demo/assets/messages.json
/demo/assets/settings.json
/demo/media/checkers-RJMNPS4S.png
/demo/media/MaterialIcons-Regular-ANWLROOZ.ttf
/demo/media/roboto-v30-latin-300-ABUYDP3P.woff
/demo/media/roboto-v30-latin-300-UTVOGLJS.woff2
/demo/media/roboto-v30-latin-500-4V2IYO32.woff
/demo/media/roboto-v30-latin-500-GFYP3GVJ.woff2
/demo/media/roboto-v30-latin-regular-6KEU5XHX.woff2
/demo/media/roboto-v30-latin-regular-EJHJLMHI.woff
/demo/3rdpartylicenses.txt
/demo/app.component-E6GZWHVZ.css.map
/demo/chunk-JF4IWHDV.js
/demo/chunk-JF4IWHDV.js.map
/demo/chunk-L6QTPX2F.js
/demo/chunk-L6QTPX2F.js.map
/demo/chunk-XC5D232L.js
/demo/chunk-XC5D232L.js.map
/demo/close-button.component-QMLEC2A4.css.map
/demo/color-cfg.component-6Q632ETE.css.map
/demo/color-cfg-dialog.component-XNBW7G4R.css.map
/demo/color-picker.component-O5THLRED.css.map
/demo/color-picker-dialog-P7LLYMRG.css.map
/demo/color-picker-hsl.component-HRODYORS.css.map
/demo/color-picker-image.component-DRZL7NJB.css.map
/demo/color-picker-mixer.component-TXRZRN3O.css.map
/demo/color-picker-slider.component-J5F2LRG4.css.map
/demo/datepicker.component-ZKKWKAZY.css.map
/demo/datepicker-dialog.component-QPMUH4OX.css.map
/demo/datepicker-month.component-3IIX4D6K.css.map
/demo/dialog.component-VOW36J6M.css.map
/demo/dsgvo.component-BTKLQRVT.css.map
/demo/favicon.ico
/demo/form-params.component-5KASVA73.css.map
/demo/form-params-dialog.component-UINGDYAD.css.map
/demo/gluc-adjust.component-G6CR2JMY.css.map
/demo/helpview.component-B4VMRMNN.css.map
/demo/impressum.component-LFIUOCNN.css.map
/demo/index.html
/demo/info-button.component-6HZOSVRT.css.map
/demo/local-tools.component-3FJU6ACV.css.map
/demo/log.component-35CMX57O.css.map
/demo/main.component-EFNCSXLV.css.map
/demo/main-VJTSZLIZ.js
/demo/main-VJTSZLIZ.js.map
/demo/output-params.component-M7JRAPIG.css.map
/demo/owl-menu.component-C7IZ7E4X.css.map
/demo/polyfills-OARC2ITD.js
/demo/polyfills-OARC2ITD.js.map
/demo/progress.component-X3NUU76O.css.map
/demo/scripts-ANNAPLDQ.js
/demo/scripts-ANNAPLDQ.js.map
/demo/settings.component-D3GRFAOZ.css.map
/demo/shortcut.component-KNMLB6GV.css.map
/demo/shortcut-edit.component-4ZSK23KA.css.map
/demo/styles-VROPG5ZF.css
/demo/styles-VROPG5ZF.css.map
/demo/test.component-KZFAU5TI.css.map
/demo/view-list.component-AFCYTHMT.css.map
/demo/view-themes.component-FSKC7PXV.css.map
/demo/view-tile.component-5EC3W5AS.css.map
/demo/view-users.component-GJBI2ISR.css.map
/demo/watch.component-76AAIZUG.css.map
/demo/watch-entry.component-2Q2QTK4S.css.map
/demo/watch-group.component-TV7BVDEE.css.map
/demo/watch-settings.component-UYDKET67.css.map
/demo/web.config
/demo/welcome.component-6MQBBGEX.css.map
/demo/whats-new.component-UUQ36FPB.css.map
