::ng-deep .mat-select-panel.settings {
  background-color: var(--settingsBodyBack);
  max-height: initial !important;
}

input[type=file] {
  display: none;
}

mat-slider {
  width: 100%;
  margin-left: 2em;
  margin-right: 2em;
}

.themeSelect {
  ::ng-deep mat-list {
    background: var(--settingsBodyBack);
    padding: 0;

    mat-select-item {
      display: flex;
      flex-flow: column;
      line-height: initial;
      align-items: flex-start;
      padding: 0.2em 0.5em;
      color: var(--settingsBodyFore);

      div.itemSub {
        font-size: 75%;
      }

      .selected-accent {
        background-color: var(--settingsHeaderBack);
      }
    }

    mat-select-item.selected {
      background-color: var(--settingsHeaderBack);
      color: var(--settingsHeaderFore);
    }
  }
}

.datepicker-row {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.datepicker-row label {
  position: absolute;
  top: -15px;
  color: rgba(0, 0, 0, 0.541176);
  font-size: 12px;
}

.userinfo {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  mat-form-field {
    flex-shrink: 0;
    flex-grow: 1;
  }
}

.controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 7em;

  .label {
    padding-right: 2em;
  }

  mat-fab:not([disabled]) {
    background-color: var(--settingsHeaderBack);
    color: var(--primaryFore);
  }
}

.urlPanel {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  border-radius: 1em;
  padding: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);

  mat-input {
    flex-shrink: 0;
    flex-grow: 1;
  }

  button:not([disabled]) .urlIcon {
    color: var(--settingsHeaderBack);
  }
}

.mat-flat-button.mat-button-disabled,
.mat-mini-fab.mat-button-disabled {
  background-color: transparent !important;
}

[mat-dialog-title] {
  background-color: var(--settingsHeaderBack);
  color: var(--settingsHeaderFore);
}

mat-dialog-content {
  color: var(--settingsBodyFore);
  background-color: var(--settingsBodyBack);
}

:host {
  ::ng-deep .mat-checkbox-label {
    white-space: normal;
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--settingsBodyFore);
  }

  ::ng-deep .mat-form-field.mat-primary .mat-select-arrow {
    color: var(--settingsBodyFore);
  }

  [select] {
    ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-subscript-wrapper {
      display: none
    }
  }

  ::ng-deep .mat-slider.mat-accent .mat-slider-track-fill,
  ::ng-deep .mat-slider.mat-accent .mat-slider-thumb,
  ::ng-deep .mat-slider.mat-accent .mat-slider-thumb-label {
    background-color: var(--settingsHeaderBack);
  }

  ::ng-deep mat-dialog-actions {
    background-color: var(--settingsHeaderBack);

    .mat-button-wrapper {
      color: var(--settingsHeaderFore);
    }
  }

  ::ng-deep .mat-checkbox-checked ::ng-deep .mat-checkbox-background {
    background-color: var(--settingsHeaderBack);

    .mat-checkbox-checkmark .mat-checkbox-checkmark-path {
      stroke: var(--settingsHeaderFore) !important;
    }
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--settingsHeaderBack);
  }
}


.longtext {
  font-size: 75%;
}

.functions {
  margin-left: 1em;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.languagePanel {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-flow: row;
  color: var(--settingsHeaderBack);
  font-size: 1.5em;
  padding-bottom: 0.5em;
  align-items: center;
  justify-content: space-between;
}

div[header] {
  display: flex;
  flex-flow: row;
  color: var(--settingsHeaderFore);
  justify-content: space-between;
  align-items: center;

  div:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

.error {
  color: var(--settingsError);
  padding-bottom: 1em;
}

.progress {
  padding: 2em;
  font-size: 1.2em;
}

.date {
  width: 6em;
  flex-grow: 0 !important;
}

mat-dialog[confirm] {
  background-color: var(--settingsBodyBack);
  color: var(--settingsBodyFore);

  .content {
    font-size: 120%;
    padding: 2em;

    .marked {
      padding: 1em 0;
      font-weight: bold;
    }
  }
}

.pdfSliderHead {
  display: flex;
  width: 90%;
  padding: 1em;
}

.sub {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
}

.formfield.date {
  width: 7em;
}

.formfield {
  display: flex;
  flex-flow: column;

  .mat-form-field ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;

    .mat-form-field-underline {
      bottom: 0;
    }
  }

  mat-hint {
    margin-top: 0.1em;
    position: initial;
  }
}

.pdfSlider {
  display: flex;
  flex-flow: row;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin-left: 1em;
  margin-bottom: 2em;

  > div {
    width: 5%;
  }
}

mat-input {
  ::ng-deep .focused-underline {
    background: var(--settingsHeaderBack);
  }

  ::ng-deep .focused.label-text {
    color: var(--settingsHeaderBack);
  }
}

.mat-flat-button.mat-accent, .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
  background-color: var(--settingsHeaderBack);
}

mat-fab.is-local, div.is-local, mat-button.is-local {
  background: var(--localBack) !important;
  color: var(--localFore) !important;
}

.navControls {
  display: flex;
  align-items: center;
  font-size: 0.7em;
}

#exportForm {
  display: none;
}

#importData {
  display: none;
}

