<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.settings">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <mat-icon>settings</mat-icon>
      <span>{{ globals.titles.settings }}</span>
    </h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>

  <div mat-dialog-content scrollShadow>
    <div class="subtitle">
      <ng-container i18n="label for settings-area with user data">Benutzerdaten</ng-container>
      <div class="navControls">
        <button (click)="globals.userIdx=globals.userIdx-1" [disabled]="globals.userIdx===0" mat-button>
          <mat-icon>chevron_left</mat-icon>
        </button>
        {{ globals.userIdx + 1 }} / {{ globals.userList?.length ?? 1 }}
        <button (click)="globals.userIdx=globals.userIdx+1" [disabled]="globals.userIdx>=(globals.userList?.length ?? 0)-1" mat-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="userinfo">
      <div>
        <button (click)="globals.togglePin(globals.user)"
                mat-icon-button pin>
          <mat-icon [class]="globals.user.classForPin">{{ globals.user.iconForPin }}</mat-icon>
          @if (globals.user.isPinned) {
            <mat-icon class="over">star_border</mat-icon>
          }
        </button>
        <mat-form-field>
          <mat-label>{{ msgName }}</mat-label>
          <input [(ngModel)]="globals.user.name" autofocus matInput>
        </mat-form-field>
        <mat-form-field size1>
          <mat-label i18n="label of editfield for birthday">Geburtstag</mat-label>
          <input [(ngModel)]="globals.user.birthDate" matInput>
        </mat-form-field>
        <mat-form-field size1>
          <mat-label i18n="label of editfield for diabetes since">Diabetes seit</mat-label>
          <input [(ngModel)]="globals.user.diaStartDate" matInput>
        </mat-form-field>
        <mat-form-field size1>
          <mat-label>{{ msgInsulin }}</mat-label>
          <input [(ngModel)]="globals.user.insulin" matInput>
        </mat-form-field>
      </div>
      <div class="controls" sizeFull>
        <mat-form-field>
          <mat-label>{{ msgInfo }}</mat-label>
          <textarea [(ngModel)]="globals.user.customData['info']" appTextareaAutoresize matInput></textarea>
        </mat-form-field>
        <button (click)="addUser()"
                [disabled]="mayAddUser"
                mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="ss.deleteUser()" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    @for (item of globals.user.listApiUrl; track idx; let idx = $index) {
      <div class="urlPanel">
        <div class="row">
          <div class="formfield mat-form-field-infix">
            <mat-form-field>
              @if (idx === 0) {
                <mat-label>{{ msgUrlNightscout }}</mat-label>
              }
              <input [(ngModel)]="item.url" matInput>
            </mat-form-field>
            @if (idx === globals.user.listApiUrl.length - 1) {
              <div class="hint"></div>
            }
            @if (idx === globals.user.listApiUrl.length - 1) {
              <div class="hint">
                {{ msgUrlHint }}
              </div>
            }
          </div>
          <button (click)="ss.navigate(item.fullUrl('','', true))" [disabled]="ss.isEmpty(item.url)" mat-button>
            <mat-icon class="urlIcon">open_in_new</mat-icon>
          </button>
          <div class="formfield mat-form-field-infix">
            <mat-form-field>
              @if (idx === 0) {
                <mat-label>{{ msgAccessToken }}</mat-label>
              }
              <input [(ngModel)]="item.token" [type]="showPwd!==idx?'password':'text'" matInput>
            </mat-form-field>
            @if (idx === globals.user.listApiUrl.length - 1) {
              <div class="hint">
                {{ msgAccessTokenHint(idx === globals.user.listApiUrl.length - 1) }}
              </div>
            }
          </div>
          <button (click)="showPwd=(showPwd===idx?-1:idx)" [disabled]="ss.isEmpty(item.token)" mat-button>
            <mat-icon class="urlIcon">{{ showPwd !== idx ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <div class="formfield mat-form-field-infix date">
            <mat-form-field>
              @if (idx === 0) {
                <mat-label>{{ msgStartDate }}</mat-label>
              }
              <input [(ngModel)]="item.startDate" [matDatepicker]="dpStartDate" matInput>
              <mat-datepicker-toggle [for]="dpStartDate" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dpStartDate></mat-datepicker>
            </mat-form-field>
            @if (idx === globals.user.listApiUrl.length - 1) {
              <div class="hint">
                {{ msgStartDateHint(idx === globals.user.listApiUrl.length - 1) }}
              </div>
            }
          </div>
          <button (click)="calculateFirstDay(item)" [disabled]="ss.isEmpty(item.url)" mat-button>
            <mat-icon class="urlIcon">calculate</mat-icon>
          </button>
          <div class="formfield mat-form-field-infix date">
            <mat-form-field>
              @if (idx === 0) {
                <mat-label>{{ msgEndDate }}</mat-label>
              }
              <input [(ngModel)]="item.endDate" [matDatepicker]="dpEndDate" matInput>
              <mat-datepicker-toggle [for]="dpEndDate" matSuffix></mat-datepicker-toggle>
              <mat-datepicker #dpEndDate></mat-datepicker>
            </mat-form-field>
            @if (idx === globals.user.listApiUrl.length - 1) {
              <div class="hint">
                {{ msgEndDateHint(idx === globals.user.listApiUrl.length - 1) }}
              </div>
            }
          </div>
        </div>
        @if (oauth2List.length > 0) {
          <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
              <mat-panel-title i18n="label of area for url settings - additional data">
                Externe Daten die bei Reporterstellung zusätzlich geladen werden
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div row>
              @for (key of oauth2List; track $index) {
                <div oauthItem [class]="classForOauthItem(key)">
                  <button (click)="toggleDatasource($event, key)" mat-button>
                    @if (globals.user.dataSources[key] != null) {
                      <mat-icon on>thumb_up</mat-icon>
                    } @else {
                      <mat-icon off>thumb_down</mat-icon>
                    }
                    <img [class]="classForDS(key)" [alt]="key" datasource src="assets/img/{{key}}.png">
                  </button>
                  @if (globals.isDebug) {
                    <div>
                      <button (click)="clickDataSource($event, key, 'apiExplorerUrl')"
                              [disabled]="ss.isEmpty(globals.user.apiUrl(null, '', {noApi: true}))"
                              mat-icon-button>
                        <mat-icon>api</mat-icon>
                      </button>
                      <button (click)="clickDataSource($event, key, 'devAppUrl')"
                              [disabled]="ss.isEmpty(globals.user.apiUrl(null, '', {noApi: true}))"
                              mat-icon-button>
                        <mat-icon>developer_board</mat-icon>
                      </button>
                      @if (globals.user.dataSources[key] != null) {
                        <button (click)="clickExportDatasource(key)" mat-icon-button>
                          <mat-icon>cloud_download</mat-icon>
                        </button>
                      } @else {
                        <button (click)="clickImportDatasource(key)" mat-icon-button>
                          <mat-icon>cloud_upload</mat-icon>
                        </button>
                        <input #fileSelectDatasource (change)="fileSelectedDatasource($event)" type="file">
                      }
                    </div>
                  }
                </div>
              }
            </div>
          </mat-expansion-panel>
        }
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title i18n="label of area for url settings - librelinkup">
              LibreLinkUp
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row formfield">
            @if (idx === globals.user.listApiUrl.length - 1) {
              <div class="hint">
                {{ msgLinkupRegionHint }}
              </div>
            }
          </div>
          <div class="row">
            @for (region of regionList; track $index) {
              @if (region === item.linkupRegion) {
                <button mat-raised-button>{{ region }}</button>
              }
              @if (region !== item.linkupRegion) {
                <button (click)="item.linkupRegion = region" mat-button>{{ region }}</button>
              }
            }
          </div>
          <div class="row">
            <div class="formfield mat-form-field-infix">
              <mat-form-field>
                @if (idx === 0) {
                  <mat-label>{{ msgLinkupUsername }}</mat-label>
                }
                <input [(ngModel)]="item.linkupUsername" matInput>
              </mat-form-field>
              @if (idx === globals.user.listApiUrl.length - 1) {
                <div class="hint">
                  {{ msgLinkupUsernameHint }}
                </div>
              }
            </div>
            <div class="formfield mat-form-field-infix">
              <mat-form-field>
                @if (idx === 0) {
                  <mat-label>{{ msgLinkupPassword }}</mat-label>
                }
                <input [(ngModel)]="item.linkupPassword" [type]="showLUPwd!==idx?'password':'text'" matInput>
              </mat-form-field>
            </div>
            <button (click)="showLUPwd=(showLUPwd===idx?-1:idx)" [disabled]="ss.isEmpty(item.linkupPassword)" mat-button>
              <mat-icon class="urlIcon">{{ showLUPwd !== idx ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            <div class="formfield mat-form-field-infix">
              <mat-form-field>
                @if (idx === 0) {
                  <mat-label>{{ msgLinkupPatientId }}</mat-label>
                }
                <input [(ngModel)]="item.linkupPatientId" matInput>
              </mat-form-field>
              @if (idx === globals.user.listApiUrl.length - 1) {
                <div class="hint">
                  {{ msgLinkupPatientIdHint }}
                </div>
              }
            </div>
          </div>
          <div class="row">
            <div class="formfield mat-form-field-infix">
              <mat-form-field>
                <mat-label>{{ msgApiSecret }}</mat-label>
                <input [(ngModel)]="item.apiSecret" [type]="showSecret!==idx?'password':'text'" matInput>
              </mat-form-field>
              @if (idx === globals.user.listApiUrl.length - 1) {
                <div class="hint">
                  {{ msgApiSecretHint(idx === globals.user.listApiUrl.length - 1) }}
                  <div class="error">{{ warnApiSecretHint(idx === globals.user.listApiUrl.length - 1) }}</div>
                </div>
              }
            </div>
            <button (click)="showSecret=(showSecret===idx?-1:idx)" [disabled]="ss.isEmpty(item.apiSecret)" mat-button>
              <mat-icon class="urlIcon">{{ showSecret !== idx ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          </div>
        </mat-expansion-panel>
        <div class="controls">
          @if (idx === globals.user.listApiUrl.length - 1) {
            <button (click)="addUrl()"
                    [disabled]="ss.isEmpty(globals.user.apiUrl(null, '', {noApi: true}))"
                    mat-mini-fab>
              <mat-icon>add</mat-icon>
            </button>
          }
          @if (idx > 0) {
            <button (click)="deleteUrl(idx)" mat-mini-fab>
              <mat-icon>delete</mat-icon>
            </button>
          }
        </div>
      </div>
    }
    <div class="sub">
      <div [innerHTML]="lblProfileMax" class="longtext"></div>
      <mat-form-field select>
        <mat-select [(value)]="globals.user.profileMaxIdx" panelClass="settings">
          @for (item of listProfileMaxCount; track idx; let idx = $index) {
            <mat-option (onSelectionChange)="globals.user.profileMaxIdx=idx"
                        [value]="idx">
              <div class="itemTitle">{{ item }}</div>
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for display setting">Anzeigeeinstellungen</div>
      <div class="functions">
        <mat-form-field select>
          <mat-label i18n>Kacheldarstellung</mat-label>
          <mat-select [(value)]="globals.tileDisplay" panelClass="settings">
            @for (item of listTileDisplay; track $index) {
              <mat-option (onSelectionChange)="globals.tileDisplay=$index"
                          [value]="$index">
                <div class="itemTitle">{{ item }}</div>
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class="row">
          <mat-checkbox [(ngModel)]="globals.editColors" class="chk" i18n="label for checkbox to toggle colormode">
            Farben anpassen
          </mat-checkbox>
          @if (globals.editColors) {
            <color-cfg colorKey=""></color-cfg>
          }
        </div>
      </div>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for additional functions">Zusatzfunktionen</div>
      <div class="functions">
        @if (globals.isBeta) {
          <div class="sub">
            <button (click)="ds.copyFromOtherStorage()" mat-button>
              <mat-icon>file_copy</mat-icon>
              <span i18n="buttonlabel for copy of settings to beta version">
              Einstellungen von Release-Version übernehmen
            </span>
            </button>
          </div>
        }
        <app-gluc-adjust></app-gluc-adjust>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div>
      <button (click)="clickExport()" mat-button>
        <mat-icon>cloud_download</mat-icon>
        <span i18n="buttonlabel for exporting data">Exportieren</span>
      </button>
      <button (click)="clickImport()" mat-button>
        <mat-icon>cloud_upload</mat-icon>
        <span i18n="buttonlabel for importing data">Importieren</span>
      </button>
    </div>
    <button (click)="clickSave()" mat-button>
      <mat-icon>save</mat-icon>
      <span i18n="buttonlabel for saving data">Speichern</span>
    </button>
    <!-- Import / Export Controls -->
    <input #fileSelect (change)="fileSelected($event)" type="file">
  </div>
</div>
