<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.settings">
  <div cdkDragHandle mat-dialog-title>
    <h1 i18n="title for settings dialog">
      <mat-icon>settings</mat-icon>
      Einstellungen
    </h1>
    <div>
      <button *ngIf="ss.isEmpty(ps.progressText)"
              [mat-dialog-close]="{btn:2}"
              mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <div class="subtitle">
      <ng-container i18n="label for settings-area with user data">Benutzerdaten</ng-container>
      <div class="navControls">
        <button (click)="globals.userIdx=globals.userIdx-1" [disabled]="globals.userIdx==0" mat-flat-button>
          <mat-icon>chevron_left</mat-icon>
        </button>
        {{globals.userIdx + 1}} / {{globals.userList?.length ?? 1}}
        <button (click)="globals.userIdx=globals.userIdx+1" [disabled]="globals.userIdx>=(globals.userList?.length ?? 0)-1" mat-flat-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="errUserInvalid!=null" [innerHTML]="errUserInvalid" class="error"></div>
    <div class="userinfo">
      <mat-form-field>
        <mat-label>{{msgName}}</mat-label>
        <input [(ngModel)]="globals.user.name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="label of editfield for birthday">Geburtstag</mat-label>
        <input [(ngModel)]="globals.user.birthDate" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="label of editfield for diabetes since">Diabetes seit</mat-label>
        <input [(ngModel)]="globals.user.diaStartDate" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{msgInsulin}}</mat-label>
        <input [(ngModel)]="globals.user.insulin" matInput>
      </mat-form-field>
      <div class="controls">
        <button (click)="addUser()"
                [disabled]="mayAddUser"
                mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="deleteUser()"
                mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let item of globals.user.listApiUrl; let idx = index" class="urlPanel">
      <div class="formfield mat-form-field-infix">
        <mat-form-field>
          <mat-label *ngIf="idx==0">{{msgUrlNightscout}}</mat-label>
          <input [(ngModel)]="item.url" matInput>
          <mat-hint *ngIf="idx==globals.user.listApiUrl.length-1"></mat-hint>
        </mat-form-field>
        <mat-hint *ngIf="idx==globals.user.listApiUrl.length-1"></mat-hint>
      </div>
      <button (click)="navigate(item.fullUrl('','', true))" [disabled]="ss.isEmpty(item.url)" mat-flat-button>
        <mat-icon class="urlIcon">open_in_new</mat-icon>
      </button>
      <div class="formfield mat-form-field-infix">
        <mat-form-field>
          <mat-label *ngIf="idx==0">{{msgAccessToken}}</mat-label>
          <input [(ngModel)]="item.token" [type]="showPwd==idx?'password':'text'" matInput>
        </mat-form-field>
        <mat-hint *ngIf="idx==globals.user.listApiUrl.length-1" class="mat-form-field-subscript-wrapper">
          {{msgAccessTokenHint(idx == globals.user.listApiUrl.length - 1)}}
        </mat-hint>
      </div>
      <button (click)="showPwd=(showPwd==idx?-1:idx)" [disabled]="ss.isEmpty(item.token)" mat-flat-button>
        <mat-icon class="urlIcon">{{showPwd == idx ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <div class="formfield mat-form-field-infix">
        <mat-form-field>
          <mat-label *ngIf="idx==0">{{msgStartDate}}</mat-label>
          <input (dateChange)="dateChange(item, 'startDateEdit', $event)"
                 (dateInput)="item.startDateEditString" [matDatepicker]="dpStartDate" matInput>
          <mat-datepicker-toggle [for]="dpStartDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dpStartDate></mat-datepicker>
        </mat-form-field>
        <mat-hint *ngIf="idx==globals.user.listApiUrl.length-1" class="mat-form-field-subscript-wrapper">
          {{msgStartDateHint(idx == globals.user.listApiUrl.length - 1)}}
        </mat-hint>
      </div>
      <button (click)="calculateFirstDay(item)" [disabled]="ss.isEmpty(item.url)" mat-flat-button>
        <mat-icon class="urlIcon">calculate</mat-icon>
      </button>
      <div class="formfield mat-form-field-infix">
        <mat-form-field>
          <mat-label *ngIf="idx==0">{{msgEndDate}}</mat-label>
          <input (dateChange)="dateChange(item, 'endDateEdit', $event)"
                 (dateInput)="item.endDateEdit" [matDatepicker]="dpEndDate" matInput>
          <mat-datepicker-toggle [for]="dpEndDate" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #dpEndDate></mat-datepicker>
        </mat-form-field>
        <mat-hint *ngIf="idx==globals.user.listApiUrl.length-1" class="mat-form-field-subscript-wrapper">
          {{msgEndDateHint(idx == globals.user.listApiUrl.length - 1)}}
        </mat-hint>
      </div>
      <div class="controls">
        <button (click)="addUrl()"
                *ngIf="idx==globals.user.listApiUrl.length-1"
                [disabled]="ss.isEmpty(globals.user.apiUrl(null, '', {noApi: true}))"
                mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="deleteUrl(idx)" *ngIf="idx>0" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="sub">
      <div [innerHTML]="lblProfileMax" class="longtext"></div>
      <mat-form-field>
        <mat-select [(value)]="listProfileMaxCount[globals.user.profileMaxIdx??0]">
          <mat-option (onSelectionChange)="globals.user.profileMaxIdx=idx"
                      *ngFor="let item of listProfileMaxCount; let idx=index"
                      [value]="item">
            <div class="itemTitle">{{item}}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for display setting">Anzeigeeinstellungen</div>
      <div class="functions">
        <mat-checkbox [(ngModel)]="globals.tileShowImage" class="chk" i18n="label for checkbox to show images on tiles">
          Auf Kacheln Bilder statt Namen anzeigen
        </mat-checkbox>
      </div>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for additional functions">Zusatzfunktionen</div>
      <div class="functions">
        <mat-checkbox [(ngModel)]="globals.showCurrentGluc" class="chk" i18n="label for checkbox to show current glucoselevel">
          Letzten Messwert in der Titelzeile anzeigen
        </mat-checkbox>
        <div class="pdfSliderHead" i18n="pdfFileSize">
          Dieser Regler legt fest, wie gross eine Ausgabe maximal werden darf,
          bevor sie auf mehrere PDF-Dateien aufgeteilt wird. Wenn bei Erstellung eines
          PDFs ein leeres Fenster angezeigt wird, dann hilft es normalerweise, diesen
          Regler weiter nach links zu bewegen.
        </div>
        <div class="pdfSlider">
          <div i18n="small">Klein</div>
          <mat-slider [(ngModel)]="globals.pdfControlMaxSize"
                      [max]="pdfSliderMax"
                      [min]="1"
                      [step]="1"
                      class="nr-slider"></mat-slider>
          <div *ngIf="globals.pdfControlMaxSize < pdfSliderMax" i18n="big">Gross</div>
          <div *ngIf="globals.pdfControlMaxSize >= pdfSliderMax">{{globals.msgUnlimited}}</div>
        </div>
      </div>
    </div>
    <div *ngIf="globals.isBeta" class="sub">
      <button (click)="ds.copyFromOtherStorage()" mat-flat-button>
        <mat-icon>file_copy</mat-icon>
        <div i18n="buttonlabel for copy of settings to beta version">
          Einstellungen von Release-Version übernehmen
        </div>
      </button>
    </div>
    <app-gluc-adjust></app-gluc-adjust>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div>
      <button (click)="clickExport()" *ngIf="ss.isEmpty(ps.progressText)" mat-flat-button>
        <mat-icon>cloud_download</mat-icon>
        <div i18n="buttonlabel for exporting data">Exportieren</div>
      </button>
      <button (click)="clickImport()" *ngIf="ss.isEmpty(ps.progressText)" mat-flat-button>
        <mat-icon>cloud_upload</mat-icon>
        <div i18n="buttonlabel for importing data">Importieren</div>
      </button>
    </div>
    <button (click)="clickSave()" *ngIf="ss.isEmpty(ps.progressText)" mat-flat-button>
      <mat-icon>save</mat-icon>
      <div i18n="buttonlabel for saving data">Speichern</div>
    </button>
    <!-- Import / Export Controls -->
    <input #fileSelect (change)="fileSelected($event)" type="file">
  </mat-dialog-actions>
</div>
<!--
    <material-dialog *ngIf="confirmIdx>0" confirm headered class="headered-dialog">
      <div *ngIf="confirmIdx!=3" header @i18n="title of confirmation dialog">Bestätigung</div>
      <div *ngIf="confirmIdx==3" header>{{msgCalcDayTitle}}</div>
      <div class="content" *ngIf="confirmIdx==1">
        <ng-container @i18n="should the user with url">Soll der Benutzer mit der URL</ng-container>
        <div class="marked">{{g.user.apiUrl(null, '', noApi: true)}}</div>
        <ng-container @i18n="really be deleted">wirklich gelöscht werden?</ng-container>
      </div>
      <div class="content" *ngIf="confirmIdx==2">
        <ng-container @i18n="should the url of the user">Soll die URL</ng-container>
        <div class="marked">{{g.user.listApiUrl[currApiUrlIdx].url}}</div>
        <ng-container @i18n="of the user really be deleted">vom Benutzer wirklich gelöscht werden?</ng-container>
      </div>
      <div class="content" *ngIf="confirmIdx==3">
        {{msgCalculatingDay(calcDate.format(g.fmtDateForDisplay))}}
      </div>
      <div footer *ngIf="confirmIdx<3">
        <material-button class="iconButton" (trigger)="confirmOk">
          <material-icon icon="done"></material-icon>
          <ng-container @i18n="buttonlabel for confirmation yes">Ja</ng-container>
        </material-button>
        <material-button class="iconButton" (trigger)="confirmIdx=0">
          <material-icon icon="cancel"></material-icon>
          <ng-container @i18n="buttonlabel for confirmation no">Nein</ng-container>
        </material-button>
      </div>
      <div footer *ngIf="confirmIdx==3">
        <material-button class="iconButton" (trigger)="cancelCalculation()">
          <material-icon icon="cancel"></material-icon>
          <ng-container @i18n="buttonlabel for cancel">Abbruch</ng-container>
        </material-button>
      </div>
    -->
