<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.settings">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <mat-icon>settings</mat-icon>
      <span>{{ globals.titles.settings }}</span>
    </h1>
    <app-close-button *ngIf="ss.isEmpty(ps.data.text)" [data]="closeData"></app-close-button>
  </div>

  <div mat-dialog-content>
    <div class="subtitle">
      <ng-container i18n="label for settings-area with user data">Benutzerdaten</ng-container>
      <div class="navControls">
        <button (click)="globals.userIdx=globals.userIdx-1" [disabled]="globals.userIdx===0" mat-button>
          <mat-icon>chevron_left</mat-icon>
        </button>
        {{ globals.userIdx + 1 }} / {{ globals.userList?.length ?? 1 }}
        <button (click)="globals.userIdx=globals.userIdx+1" [disabled]="globals.userIdx>=(globals.userList?.length ?? 0)-1" mat-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
    <div class="userinfo">
      <button (click)="globals.user.isPinned=!globals.user.isPinned"
              mat-icon-button>
        <mat-icon [class]="globals.user.classForPin">{{ globals.user.iconForPin }}</mat-icon>
      </button>
      <mat-form-field>
        <mat-label>{{ msgName }}</mat-label>
        <input [(ngModel)]="globals.user.name" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="label of editfield for birthday">Geburtstag</mat-label>
        <input [(ngModel)]="globals.user.birthDate" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label i18n="label of editfield for diabetes since">Diabetes seit</mat-label>
        <input [(ngModel)]="globals.user.diaStartDate" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ msgInsulin }}</mat-label>
        <input [(ngModel)]="globals.user.insulin" matInput>
      </mat-form-field>
      <div class="controls">
        <button (click)="addUser()"
                [disabled]="mayAddUser"
                mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="ss.deleteUser()" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div *ngFor="let item of globals.user.listApiUrl; let idx = index" class="urlPanel">
      <div class="row">
        <div class="formfield mat-form-field-infix">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgUrlNightscout }}</mat-label>
            <input [(ngModel)]="item.url" matInput>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint"></div>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgUrlHint }}
          </div>
        </div>
        <button (click)="ss.navigate(item.fullUrl('','', true))" [disabled]="ss.isEmpty(item.url)" mat-button>
          <mat-icon class="urlIcon">open_in_new</mat-icon>
        </button>
        <div class="formfield mat-form-field-infix">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgAccessToken }}</mat-label>
            <input [(ngModel)]="item.token" [type]="showPwd!==idx?'password':'text'" matInput>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgAccessTokenHint(idx === globals.user.listApiUrl.length - 1) }}
          </div>
        </div>
        <button (click)="showPwd=(showPwd===idx?-1:idx)" [disabled]="ss.isEmpty(item.token)" mat-button>
          <mat-icon class="urlIcon">{{ showPwd !== idx ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <div class="formfield mat-form-field-infix date">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgStartDate }}</mat-label>
            <input [(ngModel)]="item.startDate" [matDatepicker]="dpStartDate" matInput>
            <mat-datepicker-toggle [for]="dpStartDate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dpStartDate></mat-datepicker>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgStartDateHint(idx === globals.user.listApiUrl.length - 1) }}
          </div>
        </div>
        <button (click)="calculateFirstDay(item)" [disabled]="ss.isEmpty(item.url)" mat-button>
          <mat-icon class="urlIcon">calculate</mat-icon>
        </button>
        <div class="formfield mat-form-field-infix date">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgEndDate }}</mat-label>
            <input [(ngModel)]="item.endDate" [matDatepicker]="dpEndDate" matInput>
            <mat-datepicker-toggle [for]="dpEndDate" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dpEndDate></mat-datepicker>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgEndDateHint(idx === globals.user.listApiUrl.length - 1) }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle" i18n="label of area for watch settings - librelinkup">
          LibreLinkUp
        </div>
      </div>
      <div class="row formfield">
        <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
          {{ msgLinkupRegionHint }}
        </div>
      </div>
      <div class="row">
        <ng-container *ngFor="let region of regionList">
          <button *ngIf="region === item.linkupRegion" mat-raised-button>{{ region }}</button>
          <button (click)="item.linkupRegion = region" *ngIf="region !== item.linkupRegion" mat-button>{{ region }}</button>
        </ng-container>
      </div>
      <div class="row">
        <div class="formfield mat-form-field-infix">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgLinkupUsername }}</mat-label>
            <input [(ngModel)]="item.linkupUsername" matInput>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgLinkupUsernameHint }}
          </div>
        </div>
        <div class="formfield mat-form-field-infix">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgLinkupPassword }}</mat-label>
            <input [(ngModel)]="item.linkupPassword" [type]="showLUPwd!==idx?'password':'text'" matInput>
          </mat-form-field>
        </div>
        <button (click)="showLUPwd=(showLUPwd===idx?-1:idx)" [disabled]="ss.isEmpty(item.linkupPassword)" mat-button>
          <mat-icon class="urlIcon">{{ showLUPwd !== idx ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <div class="formfield mat-form-field-infix">
          <mat-form-field>
            <mat-label *ngIf="idx===0">{{ msgLinkupPatientId }}</mat-label>
            <input [(ngModel)]="item.linkupPatientId" matInput>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgLinkupPatientIdHint }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="formfield mat-form-field-infix">
          <mat-form-field>
            <mat-label>{{ msgApiSecret }}</mat-label>
            <input [(ngModel)]="item.apiSecret" [type]="showSecret!==idx?'password':'text'" matInput>
          </mat-form-field>
          <div *ngIf="idx===globals.user.listApiUrl.length-1" class="hint">
            {{ msgApiSecretHint(idx === globals.user.listApiUrl.length - 1) }}
            <div class="error">{{ warnApiSecretHint(idx === globals.user.listApiUrl.length - 1) }}</div>
          </div>
        </div>
        <button (click)="showSecret=(showSecret===idx?-1:idx)" [disabled]="ss.isEmpty(item.apiSecret)" mat-button>
          <mat-icon class="urlIcon">{{ showSecret !== idx ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
      <div class="controls">
        <button (click)="addUrl()"
                *ngIf="idx===globals.user.listApiUrl.length-1"
                [disabled]="ss.isEmpty(globals.user.apiUrl(null, '', {noApi: true}))"
                mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
        <button (click)="deleteUrl(idx)" *ngIf="idx>0" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="sub">
      <div [innerHTML]="lblProfileMax" class="longtext"></div>
      <mat-form-field select>
        <mat-select [(value)]="globals.user.profileMaxIdx" panelClass="settings">
          <mat-option (onSelectionChange)="globals.user.profileMaxIdx=idx"
                      *ngFor="let item of listProfileMaxCount; let idx=index"
                      [value]="idx">
            <div class="itemTitle">{{ item }}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for display setting">Anzeigeeinstellungen</div>
      <div class="functions">
        <mat-checkbox [(ngModel)]="globals.tileShowImage" class="chk" i18n="label for checkbox to show images on tiles">
          Auf Kacheln Bilder statt Namen anzeigen
        </mat-checkbox>
        <div class="row">
          <mat-checkbox [(ngModel)]="globals.editColors" class="chk" i18n="label for checkbox to toggle colormode">
            Farben anpassen
          </mat-checkbox>
          <color-cfg *ngIf="globals.editColors" colorKey=""></color-cfg>
        </div>
      </div>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for additional functions">Zusatzfunktionen</div>
      <div class="functions">
        <div *ngIf="globals.isBeta" class="sub">
          <button (click)="ds.copyFromOtherStorage()" mat-button>
            <mat-icon>file_copy</mat-icon>
            <span i18n="buttonlabel for copy of settings to beta version">
              Einstellungen von Release-Version übernehmen
            </span>
          </button>
        </div>
        <app-gluc-adjust></app-gluc-adjust>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div>
      <button (click)="clickExport()" *ngIf="ss.isEmpty(ps.data.text)" mat-button>
        <mat-icon>cloud_download</mat-icon>
        <span i18n="buttonlabel for exporting data">Exportieren</span>
      </button>
      <button (click)="clickImport()" *ngIf="ss.isEmpty(ps.data.text)" mat-button>
        <mat-icon>cloud_upload</mat-icon>
        <span i18n="buttonlabel for importing data">Importieren</span>
      </button>
    </div>
    <button (click)="clickSave()" *ngIf="ss.isEmpty(ps.data.text)" mat-button>
      <mat-icon>save</mat-icon>
      <span i18n="buttonlabel for saving data">Speichern</span>
    </button>
    <!-- Import / Export Controls -->
    <input #fileSelect (change)="fileSelected($event)" type="file">
  </div>
</div>
