<mat-tab-group>
  <mat-tab label="PDF Tools">
    <button (click)="clickBackWork()" mat-button>Leg los</button>
    <div>value: {{ backwork }}</div>
    <div lang>
      @for (lang of globals.languageList; track lang) {
        <button (click)="clickCreateThumbs(lang)" mat-raised-button>
          <img [src]="lang.imgPath" alt="language image">
          <div>{{ lang.code }}</div>
        </button>
      }
      <button (click)="clickCreateThumbs()" mat-raised-button>
        <div>Alle</div>
      </button>
    </div>
    <div class="pdfimg" id="pdfimg"></div>
  </mat-tab>
  <mat-tab label="Language Importer">
    <div>
      <button (click)="ss.navigate('https://www.freeformatter.com/xml-to-json-converter.html')" link mat-button>
        Die Datei /locale/messages.de-DE.xlf muss zur Verwendung mit diesem Tool in json konvertiert werden.
        Das kann ein Online-Dienst erledigen, der hier aufgerufen werden kann. Dort die Datei hochladen
        und das Ergebnis in /assets/old-dart/json/de_DE.json speichern.
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
    <div lang>
      @for (lang of globals.languageList; track lang) {
        <button (click)="clickLanguage(lang)" mat-raised-button>
          <img [src]="lang.imgPath" alt="language image">
          <div>{{ lang.code }}</div>
        </button>
      }
    </div>
  </mat-tab>
  <mat-tab label="Code Replacer">
    <div controls>
      <button (click)="replaceCode()" mat-raised-button>Ersetzungen vornehmen</button>
    </div>
    <mat-form-field appearance="fill" class="dartcode">
      <mat-label>Zu überarbeitender Dart-Code</mat-label>
      <textarea [(ngModel)]="code" appTextareaAutoresize matInput type="text"></textarea>
      @if (code) {
        <button (click)="code=''" aria-label="Clear" mat-icon-button matSuffix>
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </mat-tab>
  <mat-tab label="Color Converter">
    <mat-form-field appearance="fill" class="dartcode">
      <mat-label>In style.scss einzufügender Code</mat-label>
      <textarea [(ngModel)]="colorstyle" appTextareaAutoresize matInput type="text"></textarea>
      <button (click)="extractColorJson()" mat-icon-button matSuffix>
        <mat-icon>import_export</mat-icon>
      </button>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
<app-log></app-log>
<app-progress></app-progress>
