<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.watchsettings">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <mat-icon>settings</mat-icon>
      <span i18n="title for watch settings dialog">Watch Einstellungen</span>
    </h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>

  <div mat-dialog-content>
    <!-- app-color-picker [(color)]="colpick" [savedColors]="savedColors"></app-color-picker -->
    <div class="sub">
      <div class="subtitle" i18n="label of area for watch settings - display">Anzeigeeinstellungen</div>
      <div class="functions">
        <mat-slide-toggle [(ngModel)]="globals.isWatchColor">{{watchColorLabel}}</mat-slide-toggle>
      </div>
    </div>
    <div class="sub">
      <mat-form-field>
        <mat-label>{{globals.lblGlucUnits}}</mat-label>
        <mat-select [(value)]="globals.glucMGDLIdx" class="selectButton" panelClass="output-params">
          <mat-option (click)="changeGlucUnits(idx)"
                      *ngFor="let item of globals.listGlucUnits; let idx=index"
                      [value]="idx"
                      class="selectItem">
            <div class="itemTitle">{{item}}</div>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="subinfo">{{maxGlucAgeLabel}}</div>
      <div class="subinfo">
        <mat-button-toggle-group [(ngModel)]="globals.maxGlucAge">
          <mat-button-toggle *ngFor="let btn of [2,3,4,5,6,7,8,9,10,15]" [value]="+btn">
            {{btn}} {{msgMinute(btn)}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
    <div class="sub">
      <div class="subtitle" i18n="label of area for watch settings - automation">Automatisierung</div>
      <div class="functions">
        <mat-slide-toggle [(ngModel)]="globals.lluAutoExec">{{lluAutoExecLabel}}</mat-slide-toggle>
      </div>
      <br>
      <div class="subinfo">{{lluTimeoutLabel}}</div>
      <div class="subinfo">
        <mat-button-toggle-group [(ngModel)]="globals.lluTimeout">
          <mat-button-toggle *ngFor="let btn of [1,2,3,4,5]" [value]="+btn">
            {{btn}} {{msgMinute(btn)}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>

  <div mat-dialog-actions>
    <div></div>
    <button (click)="clickSave()" mat-button>
      <mat-icon>save</mat-icon>
      <span i18n="buttonlabel for saving data">Speichern</span>
    </button>
  </div>
</div>
