:host {
  --headBack: var(--settingsHeadBack);
  --headFore: var(--settingsHeadFore);
  --bodyBack: var(--settingsBodyBack);
  --bodyFore: var(--settingsBodyFore);
  --accentBack: var(--settingsHeadBack);
  --accentFore: var(--settingsHeadFore);


  .sub {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: justify;

    .mat-button-toggle-group {
      border: none;
      border-radius: 0;
      display: flex;
      flex-wrap: wrap;
    }

    .mat-button-toggle-appearance-standard {
      color: rgba(0, 0, 0, .87);
      background-color: transparent;
      border: none;
      border-radius: 5px;
    }

    .mat-button-toggle-checked {
      background-color: rgba(0, 0, 0, 0.5);
      color: rgba(255, 255, 255, 0.9);
    }

    .subtitle {
      display: flex;
      flex-flow: row;
      font-size: 1.5em;
      padding-bottom: 0.5em;
      align-items: center;
      justify-content: space-between;
    }

    .subinfo {
      font-size: 75%;
    }
  }

}

