<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.watchsettings">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <mat-icon>settings</mat-icon>
      <div i18n="title for watch settings dialog">Watch Einstellungen</div>
    </h1>
    <div>
      <button [mat-dialog-close]="{btn:2}"
              mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <mat-slide-toggle [(ngModel)]="globals.isWatchColor">{{watchColorLabel}}</mat-slide-toggle>
    <app-color-picker [(color)]="colpick" [savedColors]="savedColors"></app-color-picker>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div></div>
    <button (click)="clickSave()" mat-flat-button>
      <mat-icon>save</mat-icon>
      <div i18n="buttonlabel for saving data">Speichern</div>
    </button>
  </mat-dialog-actions>
</div>
