<button (click)="testCrypt()" mat-flat-button>Test Verschlüsselung</button>
<button (click)="testPdf()" mat-flat-button>Test PDF erzeugen</button>
<button (click)="testSettings()" mat-flat-button>
  <mat-icon>settings</mat-icon>
</button>
<button (click)="testDialog()" mat-flat-button>
  <mat-icon>fingerprint</mat-icon>
  Dialog
</button>
<button (click)="ss.showPopup('welcome')" mat-flat-button>
  Willkommen
</button>
<button (click)="clickProgress()" mat-flat-button>
  Fortschrittsbalken
</button>
<img [src]="imgsrc" alt="">
<app-progress [cssStyle]="{'panelBack':'var(--primaryBack)','panelFore':'var(--primaryFore)','bufferColor':'var(--secondaryBack)'}"></app-progress>
