<FilesMatch "\.sqlite$">
    Header set Content-Type "text/plain"
    Header set Status "404 Not Found"
    ErrorDocument 404 "Not Found"
    Require all denied
</FilesMatch>
<FilesMatch ".*">
    Deny from all
</FilesMatch>
<Files "index.php">
    Allow from all
</Files>
ErrorDocument 404 /errors.php
