:host {
  --headBack: var(--outputparamsHeadBack);
  --headFore: var(--outputparamsHeadFore);
  --bodyBack: var(--outputparamsBodyBack);
  --bodyFore: var(--outputparamsBodyFore);
  --accentBack: var(--outputparamsHeadBack);
  --accentFore: var(--outputparamsHeadFore);
}

::ng-deep .mat-select-panel.output-params {
  max-height: initial !important;
}

:host {
  font-size: 90%;

  ::ng-deep .mat-checkbox-layout .mat-checkbox-label {
    white-space: normal;
  }

  ::ng-deep .mat-slide-toggle-content {
    white-space: normal;
  }

  mat-checkbox.loop {
    ::ng-deep .mdc-checkbox__background {
      border-radius: 50%;
      outline: 5px solid var(--loopMarked);
      background-color: var(--loopMarked);
    }
  }
}

.selectItem {
  background-color: var(--bodyBack);
  color: var(--bodyFore);

  span {
    display: flex;
    flex-flow: column;
    line-height: initial;
    align-items: flex-start;
    padding: 0.2em 0.5em;

  }

  .itemTitle {
    line-height: 1em;
  }

  .itemSub {
    font-size: 75%;
    line-height: 1em;
  }
}

mat-form-field[long] {
  flex: 1;
}

div[header] {
  display: flex;
  flex-flow: row;
  color: var(--outputparamsHeaderFore);
  justify-content: space-between;
  align-items: center;
}

[mat-dialog-content] {
  display: flex;
  flex-flow: column;
  padding: 1em;
  font-size: 1.2em;
  background-color: var(--bodyBack);
  color: var(--bodyFore);
}

mat-slider {
  width: 100%;
  margin-left: 0.5em;

  .container {
    height: initial !important;
  }
}

.controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  .label {
    padding-right: 2em;
  }

  mat-fab:not([disabled]) {
    background-color: var(--headBack);
    color: var(--headFore);
  }
}

div.line {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
  width: 100%;
}

.functions {
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  > div {
    display: flex;
    flex-flow: row;
    align-items: center;

    div:first-child {
      margin-left: 10px;
    }
  }
}

.root {
  padding: 1em;
  font-size: 1.2em;
  color: var(--bodyFore);
  background-color: var(--bodyBack);
}

.languagePanel {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.subtitle {
  display: flex;
  flex-flow: row;
  font-size: 1.5em;
  padding: 0.5em 0;
  align-items: center;
  justify-content: space-between;

  ::ng-deep div {
    display: flex;
  }

  ::ng-deep .comparable {
    flex: 1;
    font-size: 0.7em;
    justify-content: flex-end;
  }
}

div[header] {
  display: flex;
  flex-flow: row;
  color: var(--headFore);
  justify-content: space-between;
  align-items: center;

  div:nth-child(2) {
    display: flex;
    align-items: center;
  }
}

div[footer] {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
}

.progress {
  padding: 2em;
  font-size: 1.2em;
}

material-input {
  ::ng-deep .focused-underline {
    background: var(--headBack);
  }

  ::ng-deep .focused.label-text {
    color: var(--headBack);
  }
}

.timeshift {
  div {
    padding-top: 0.5em;
    padding-bottom: 1em;
  }
}

.indent {
  margin-left: 2em;
}

//noinspection CssReplaceWithShorthandSafely
//.selectButton {
//  background: var(--headBack);
//  color: var(--headFore);
//  padding: 0.2em;
//  padding-left: 0.4em;
//  border-radius: 2px;
//}

material-button[raised] {
  background-color: var(--headBack);
  color: var(--headFore);
}

material-dropdown-select {
  margin-bottom: 0.2em;
}

.selectSelect {
  ::ng-deep material-list {
    background-color: var(--headBack);
    padding: 0;

    material-select-item {
      display: flex;
      flex-flow: column;
      line-height: initial;
      align-items: flex-start;
      padding: 0.2em 0.5em;
      color: var(--headFore);

      div.itemSub {
        font-size: 75%;
      }

      .selected-accent {
        background-color: var(--bodyBack);
        color: var(--bodyFore);
      }
    }

    material-select-item:hover {
      background-color: var(--bodyBack);
    }
  }
}

//.selectItem:hover:not(.mat-option-disabled),
//.selectItem:focus:not(.mat-option-disabled) {
//  background-color: var(--headBack);
//  color: var(--headFore);
//  border-radius: 0.5em;
//}

//.selectItem.mat-selected:not(.mat-option-disabled,:hover) {
//  background-color: var(--bodyBack);
//  color: var(--bodyFore);
//  border: 2px solid rgba(0, 0, 0, 0.6);
//}

.selectItem.mat-selected:not(.mat-option-disabled) {
  border-radius: 0.5em;
}

