:host {
  position: relative;
}

::ng-deep.libre_linkup {
  font-size: inherit;
  width: inherit;
  height: inherit;

  &.running {
    color: rgba(0, 255, 0, 1);
  }

  &.samePos {
    position: absolute;
    color: red;
  }
}

div[content] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
