<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.settings">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <mat-icon>tune</mat-icon>
      {{ globals.titles.formparams }}
    </h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <div mat-dialog-content>
    @if (!globals.showAllTileParams) {
      <div [class]="classForList(form, 'formparams')">
        <div paramtitle title>
          <mat-checkbox (ngModelChange)="setAllParamsFor($event, form.params)" [ngModel]="false"></mat-checkbox>
          {{ form.display }}
          <div>
            <button (click)="clickListToggle()" mat-button>
              <mat-icon>list</mat-icon>
            </button>
          </div>
        </div>
        <app-form-params [paramList]="form.sortedParams"></app-form-params>
      </div>
    } @else {
      <div class="formparams">
        <div title>
          <div i18n="title for parameters">Optionen</div>
          <div>
            <button (click)="clickListToggle()" mat-button>
              <mat-icon>description</mat-icon>
            </button>
          </div>
        </div>
        @for (cfg of globals.listConfig; track $index) {
          @if (isFormVisible(cfg.form) && cfg.checked && cfg.form.sortedParams.length > 0) {
            <div [class]="classForList(cfg.form, 'card')">
              <div paramtitle title>
                <mat-checkbox (ngModelChange)="setAllParamsFor($event, cfg.form.params)" [ngModel]="false"></mat-checkbox>
                {{ cfg.form.display }}
              </div>
              <app-form-params [paramList]="cfg.form.sortedParams"></app-form-params>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
