:host {
  ::ng-deep * {
    --primaryBack: var(--shortcutHeaderBack);
    --primaryFore: var(--shortcutHeaderFore);
    --secondaryBack: var(--shortcutBodyBack);
    --secondaryFore: var(--shortcutBodyFore);
    --accentBack: var(--shortcutHeaderBack);
    --accentFore: var(--shortcutHeaderFore);
  }
}

:host {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: var(--doc-height);
  align-items: center;
  justify-content: center;
}
