:host {
  --headBack: var(--shortcutHeadBack);
  --headFore: var(--shortcutHeadFore);
  --bodyBack: var(--shortcutBodyBack);
  --bodyFore: var(--shortcutBodyFore);
  --bodyData: var(--shortcutBodyData);
  --accentBack: var(--shortcutHeadBack);
  --accentFore: var(--shortcutHeadFore);
}

:host {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: var(--doc-height);
  align-items: center;
  justify-content: center;
}
