[mat-dialog-title] {
  background-color: var(--helpHeadBack);
  color: var(--helpHeadFore);
}

div[header] {
  display: flex;
  flex-direction: row;
  color: var(--helpHeadFore);
  justify-content: space-between;
  align-items: center;
}

[mat-dialog-content] {
  flex: 1;
  padding: 1em;
  font-size: 1.2em;
  color: var(--helpBodyFore);
  background-color: var(--helpBodyBack);
  text-align: justify;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

a, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  color: var(--helpHeadBack);
}

material-button {
  text-transform: none;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  cursor: pointer;
}
