<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.helpview">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      @if (tileHelp.length > 1) {
        <button (click)="onBackClick()" mat-icon-button>
          <mat-icon>chevron_left</mat-icon>
        </button>
      }
      {{ tileHelp[tileHelp.length - 1]?.form.title }}
    </h1>
    <app-close-button [data]="closeData"></app-close-button>
  </div>
  <div mat-dialog-content>
    <div>
      @for (item of tileHelp[tileHelp.length - 1].form.helpStrings; track item; let idx = $index) {
        @if (item.type === 'text') {
          <span [innerHtml]="item.text"></span>
        }
        @if (item.type === 'btn') {
          <span (click)="onLinkClick(idx)" class="btn">{{ item.cfg.form.title }}</span>
        }
      }
    </div>
  </div>
</div>
