:host {
  ::ng-deep * {
    --primaryBack: var(--settingsHeaderBack);
    --primaryFore: var(--settingsHeaderFore);
    --secondaryBack: var(--settingsBodyBack);
    --secondaryFore: var(--settingsBodyFore);
    --accentBack: var(--settingsHeaderBack);
    --accentFore: var(--settingsHeaderFore);
  }
}

.color {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  outline: 1px solid black;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
