::ng-deep .mat-select-panel.colorpicker {
  background-color: var(--settingsBodyBack);
  max-height: initial !important;
}

[mat-dialog-title] {
  background-color: var(--settingsHeaderBack);
  color: var(--settingsHeaderFore);
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

mat-dialog-content {
  color: var(--settingsBodyFore);
  background-color: var(--settingsBodyBack);
  display: flex;
  flex-flow: column;
}

.dialog {
  display: flex;
  flex-flow: row;
  z-index: 10000;

  [controls] {
    display: flex;
    flex-flow: column;
  }
}

.color {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  outline: 1px solid black;
  width: 1em;
  height: 1em;
  cursor: pointer;
}

.current {
  border: 1px solid black;
  border-radius: 0.2em;
}

:host {
  ::ng-deep mat-dialog-actions {
    background-color: var(--settingsHeaderBack);

    [spacer] {
      flex: 1 1 auto;
    }

    padding-left: 1em !important;

    .mat-button-wrapper {
      color: var(--settingsHeaderFore);
    }
  }
}
