:host {
  --headBack: var(--settingsHeadBack);
  --headFore: var(--settingsHeadFore);
  --bodyBack: var(--settingsBodyBack);
  --bodyFore: var(--settingsBodyFore);
  --accentBack: var(--settingsHeadBack);
  --accentFore: var(--settingsHeadFore);

  .mat-mdc-dialog-actions:not([align=end]) {
    justify-content: flex-start;
  }
}

.color {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  outline: 1px solid black;
  width: 1em;
  height: 1em;
  cursor: pointer;
}
