<mat-tab-group>
  <mat-tab label="Language Importer">
    <div>
      <button (click)="ss.navigate('https://www.freeformatter.com/xml-to-json-converter.html')" link mat-flat-button>
        Die Datei /locale/messages.de-DE.xlf muss zur Verwendung mit diesem Tool in json konvertiert werden.
        Das kann ein Online-Dienst erledigen, der hier aufgerufen werden kann. Dort die Datei hochladen
        und das Ergebnis in /assets/messages.xlf.json speichern.
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
    <div lang>
      <button (click)="clickLanguage(lang)" *ngFor="let lang of globals.languageList" mat-flat-button>
        {{lang.code}}<br><img [src]="lang.imgPath" alt="language image">
      </button>
    </div>
    <app-log></app-log>
  </mat-tab>
  <mat-tab label="Code Replacer">
    <div controls>
      <button (click)="replaceCode()" mat-raised-button>Ersetzungen vornehmen</button>
    </div>
    <mat-form-field appearance="fill" class="dartcode">
      <mat-label>Zu überarbeitender Dart-Code</mat-label>
      <textarea [(ngModel)]="code" appTextareaAutoresize matInput type="text"></textarea>
      <button (click)="code=''" *ngIf="code" aria-label="Clear" mat-icon-button matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-tab>
</mat-tab-group>
