:host {
  --headBack: var(--whatsnewHeadBack);
  --headFore: var(--whatsnewHeadFore);
  --bodyBack: var(--whatsnewBodyBack);
  --bodyFore: var(--whatsnewBodyFore);
  --accentBack: var(--whatsnewHeadBack);
  --accentFore: var(--whatsnewHeadFore);
}

::ng-deep .dialog-box.whatsnew {
  min-width: 80vw;
}

div[header] {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

[mat-dialog-content] {
  padding: 1em;
  font-size: 1.2em;
}

h2 {
  display: flex;
  flex-flow: row;
  font-size: 1.3em;
  padding: 0 0.5em;
  gap: 0.5em;

  span:nth-child(2) {
    padding-right: 0.5em;
  }

  cursor: pointer;
}

ul {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0 0 1.5em 0;
}

li {
  list-style: none;
  margin-left: 0;
  padding-left: 2.0em;
  position: relative;
  text-align: justify;

  div[row] {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
  }

  mat-icon {
    --v: 24px;
    font-size: 1em;
    height: var(--v);
    width: var(--v);
    min-width: var(--v);
    margin-top: 4px;
  }
}

li:not(first-child) {
  padding-top: 0.5em;
}

li:before {
  content: "-";
  position: absolute;
  margin-left: -1.1em;
  font-weight: bold;
}

.added:before {
  content: "+";
}

.changed:before {
  content: "~";
}

.removed:before {
  content: "-";
}

.fixed:before {
  content: "#";
}

.newline {
  width: 100%;
  height: 1px;
  background: var(--whatsnewBodyFore);
  margin: 0.5em 0;
}

a, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  color: var(--whatsnewBodyLink);
}

.hidden {
  display: none;
}
