::-webkit-scrollbar-thumb {
  background-color: var(--settingsBodyBack);
}

::-webkit-scrollbar-track {
  background-color: var(--settingsBodyFore);
}

.root {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
}

[content] {
  display: flex;
  flex: 1;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.watch {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 1em;
}

.controls {
  width: 100vw;
  background: var(--settingsBodyBack);
  color: black;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  padding: 5px 0;

  div[typePanel] {
    position: relative;
    display: flex;
    flex-flow: row;

    button {
      display: flex;
      flex: 1;
      padding: 0;
    }

    button:first-child {
      justify-content: flex-start;
    }

    button:nth-child(2) {
      justify-content: flex-end;
    }

    material-icon {
      color: rgba(0, 0, 0, 0.4);
    }

    div[typeName] {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  .active {
    border-radius: 1em;
    background: rgba(255, 255, 255, 0.3);
  }

  material-button {
    text-transform: none;
  }
}
