<!-- div canvas-container>
  <div #imageBox image>
    <canvas #canvasImage
            (mousedown)="mouseDown('cvs', $event)"
            (mousemove)="mouseMove('cvs', $event)"
            (mouseup)="mouseUp('cvs', $event)">
    </canvas>
    <div [ngStyle]="styleForCanvasPointer" point pointer>
      <div mark></div>
    </div>
  </div>
</div -->
<div #mouseArea
     (mousedown)="mouseDown('cvs', $event)"
     (mousemove)="mouseMove(null, $event)"
     (mouseout)="mouseUp('hue', $event)"
     (mouseup)="mouseUp(null, $event)"
     hslcontainer>
  <div #hslWheel hslwheel>
    <div #imageBox inner>
      <div image>
        <canvas #canvasHSL></canvas>
      </div>
    </div>
    <div [ngStyle]="styleForHuePointerBox" pointer-box>
      <div [ngStyle]="styleForHuePointer" pointer>
        <div mark></div>
      </div>
    </div>
  </div>
</div>
<div (mousedown)="mouseDown('opc', $event)"
     (mousemove)="mouseMove('opc', $event)"
     (mouseup)="mouseUp('opc', $event)"
     [ngStyle]="styleForOpcBack" opc-back>
  <div opc-fore></div>
  <div [ngStyle]="styleForOpcPointer" pointer vert>
    <div mark></div>
  </div>
</div>

