[mat-dialog-title] {
  background-color: var(--legalHeaderBack);
  color: var(--legalHeaderFore);
}

div[header] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--legalHeaderFore);
  align-items: center;
}

.root {
  padding: 1em;
  font-size: 1.2em;
  color: var(--legalBodyFore);
  background-color: var(--legalBodyBack);
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

a, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
  color: var(--legalLink);
}
