<div (cdkDropListDropped)="drop($event)" [cdkDropListSortingDisabled]="true" cdkDropList class="tilelist" scrollShadow>
  <!-- (cdkDropListDropped)="drop($event)" -->
  <ng-container *ngFor="let cfg of globals.listConfig; let idx=index">
    <!--
    <div *ngIf="idx===3" class="fake-animation tile"></div>
    -->
    <div (cdkDragStarted)="dragstart($event)"
         (click)="tileClicked($event,cfg)"
         (mouseout)="mouseout($event)"
         (mouseover)="mouseover($event)"
         *ngIf="cfg.form.isVisible"
         [cdkDragData]="idx"
         [class]="tileClass(cfg)"
         cdkDrag
         cdkDragBoundary=".tilelist"
         id="tile-{{idx}}">
      @if (globals.showTileImage) {
        <img [src]="cfg.form.backimage"
             alt="tile image {{cfg.form.id}}"
             hideMissingImage>
        @if (globals.showTileText) {
          <div titleimg>{{ cfg.form.display }}</div>
        }
      } @else if (globals.showTileText) {
        <div title>{{ cfg.form.display }}</div>
      }
      <div (click)="clickTileMenu($event,cfg.form)" *ngIf="cfg.form.sortedParams.length>0 && cfg.checked" params>
        <mat-icon>more_vert</mat-icon>
      </div>
      <div (click)="clickTileHelp($event,cfg)" *ngIf="cfg.form.help!=null" help>
        <mat-icon>help_outline</mat-icon>
      </div>
      @if (cfg.checked) {
        @if (globals.showTileImage) {
          <div numberimg>{{ checkedIndex(cfg) }}</div>
        } @else {
          <div number>{{ checkedIndex(cfg) }}</div>
        }
      }
      <!--      @if (globals.showTileText) {-->
      <!--        <div title>{{ cfg.form.display }}</div>-->
      <!--      }-->
      @if (cfg.checked) {
        @if (!globals.showTileImage || !cfg.form.isPortraitParam) {
          <div pages>
            {{ cfg.form.pageCountDisplay(ns.reportData == null) }}
          </div>
        }
        @if (globals.showTileImage && cfg.form.isPortraitParam) {
          <div pagesportrait>
            {{ cfg.form.pageCountDisplay(ns.reportData == null) }}
          </div>
        }
      }
      <div (click)="clickTileCopy($event,cfg, idx)" *ngIf="mayCopy(cfg)" copy>
        <mat-icon>content_copy</mat-icon>
      </div>
      <div (click)="clickTileDelete($event,idx)" *ngIf="mayDelete(cfg)" copy>
        <mat-icon>delete</mat-icon>
      </div>
      <i class="icono-arrow2-right"></i>
    </div>
  </ng-container>
</div>
