:host {
  display: flex;
  flex-flow: column;
  margin-bottom: 1em;

  div {
    display: flex;

    mat-slider {
      display: flex;
      flex: 1;
    }

    flex: 1;
  }
}

::ng-deep {
  .mat-slider.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: #ff4081 !important;
  }
}

[col-r] {
  border: 1px solid red;
}

[col-g] {
  border: 1px solid lime;
}

[col-b] {
  border: 1px solid blue;
}

[col-h] {
  background: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

[col-s] {
  background: linear-gradient(90deg, #000, #fff);
}

[col-l] {
  background: linear-gradient(90deg, #000, #fff);
}
