<mat-checkbox [(ngModel)]="globals.user.adjustGluc" class="chk">{{ msgAdjustGluc }}</mat-checkbox>
@if (globals.user.adjustGluc) {
  <div class="adjustPanel">
    <div class="adjust">
      <div class="label">{{ msgAdjustCalc }}</div>
      <mat-slider
        [displayWith]="formatLabel"
        [max]="20.0"
        [min]="0.0"
        [step]="0.1"
        class="nr-slider"
        [discrete]="true">
        <input [(ngModel)]="globals.user.adjustCalc" matSliderThumb>
      </mat-slider>
    </div>
    <div class="adjust">
      <div class="label">{{ msgAdjustLab }}</div>
      <mat-slider
        [displayWith]="formatLabel"
        [max]="20.0"
        [min]="0.0"
        [step]="0.1"
        class="nr-slider"
        [discrete]="true">
        <input [(ngModel)]="globals.user.adjustLab" matSliderThumb>
      </mat-slider>
    </div>
    <mat-checkbox [(ngModel)]="globals.user.adjustTarget" class="chk indent">{{ msgAdjustTarget }}</mat-checkbox>
  </div>
}
