<!--suppress HtmlUnknownTarget -->
<div [innerHTML]="svgCollection" hide></div>
@if (globals.isLocal && globals.isDebug) {
  <div class="is-local">
    <div class="debug">
      <div><span>Themeserver</span>
      <mat-chip-listbox (change)="clickThemeServer($event)" [value]="globals.urlThemeServerIdx">
        @for (url of globals._urlThemeServer; track url; let idx = $index) {
          <mat-chip-option
            [disabled]="idx === globals.urlThemeServerIdx"
            [selected]="idx === globals.urlThemeServerIdx"
            [value]="idx">{{ getDisplayUrl(url) }}
          </mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
    <div>
      <button (click)="copyData($event)" mat-button>
        <mat-icon>content_copy</mat-icon>
        <span i18n="buttonlabel for copying data">Kopieren</span>
      </button>
      <button (click)="getData()" mat-button>
        <mat-icon>content_paste</mat-icon>
        <span i18n="buttonlabel for pasting data">Importieren</span>
      </button>
      <button (click)="openDB()" mat-button>
        <mat-icon>edit</mat-icon>
        <span i18n="buttonlabel for calling phpliteadmin">Tabellen editieren</span>
      </button>
    </div>
  </div>
</div>
}
@if (serverThemes?.length === 0 && cardForSave == null) {
  <div empty>
    Es sind noch keine Farbthemen vorhanden. Wenn etwas am Farbthema geändert wurde, kann es
    hier gespeichert werden.
  </div>
}
@if (cardForSave != null) {
  <ng-container
    [ngTemplateOutletContext]="{theme:cardForSave}"
    [ngTemplateOutlet]="tplTheme">
  </ng-container>
}
@for (theme of serverThemes; track theme) {
  <ng-container
    [ngTemplateOutletContext]="{theme:theme}"
    [ngTemplateOutlet]="tplTheme">
  </ng-container>
}
<ng-template #tplTheme let-theme="theme">
  <div [class]="classForCard(theme)" card>
    <div [style]="styleForTitle(theme)" title>
      {{ theme.name }}
      @if (mayDelete(theme)) {
        <button (click)="clickDelete(theme)" delete mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      }
    </div>
    <div [style]="styleForContent(theme)" content>
      <button (click)="clickTheme(theme)" class="themeButton" mat-icon-button>
        <svg style="width:90%;height:90%" viewBox="0 0 219 250">
          <ng-container>
            @switch (theme.name) {
              @case ('standard') {
                <use href="#owl-standard"/>
              }
              @case ('xmas') {
                <use href="#owl-xmas"/>
              }
              @default {
                <use href="#owl-own"/>
              }
            }
          </ng-container>
        </svg>
      </button>
      <div time>{{ theme.modifyTime }}</div>
      @if (!theme.isSave) {
        <div username>{{ theme.username ?? '' }}</div>
      }
      @if (may(theme, 'admin')) {
        <div creator>{{ theme.creator ?? '' }}</div>
      }
    </div>
  </div>
</ng-template>
