<!--suppress HtmlUnknownTarget -->
<mat-drawer-container autosize hasBackdrop="false">
  <mat-drawer #drawer class="mat-elevation-z10">
    <div class="tabs">
      <button (click)="menuIdx=0" [class]="getDrawerButtonClass(0)" i18n="tab title for menu" mat-button>Menü</button>
      <button (click)="menuIdx=1" [class]="getDrawerButtonClass(1)" i18n="tab title for shortcuts" mat-button>Shortcuts</button>
    </div>
    <div [class]="getDrawerClass(0)">
      <div class="menu-controls">
        <button (click)="ss.showPopup('welcome')" class="iconButton">
          <mat-icon>home</mat-icon>
          <span i18n="title of welcome screen">Willkommen</span>
        </button>
        <!-- facebook is not the best choice for contact, so i removed it.
         lets see, what the community thinks, maybe it needs to be reenabled
        <button (click)="clickMenuButton('facebook')" class="iconButton">
          <svg height="1.5em" id="Layer_1" viewBox="0 0 266.893 266.895" width="1.5em"
               x="0px" xmlns="http://www.w3.org/2000/svg" y="0px">
            <path
              d="M248.082,262.307c7.854,0,14.223-6.369,14.223-14.225V18.812	c0-7.857-6.368-14.224-14.223-14.224H18.812c-7.857,0-14.224,6.367-14.224,14.224v229.27c0,7.855,6.366,14.225,14.224,14.225 H248.082z"
              fill="#3C5A99"
              id="Blue_1_"/>
            <path
              d="M182.409,262.307v-99.803h33.499l5.016-38.895h-38.515V98.777c0-11.261,3.127-18.935,19.275-18.935 l20.596-0.009V45.045c-3.562-0.474-15.788-1.533-30.012-1.533c-29.695,0-50.025,18.126-50.025,51.413v28.684h-33.585v38.895h33.585 v99.803H182.409z"
              fill="#FFFFFF"
              id="f"/>
          </svg>
          <div i18n="title of facebook link">Facebook Seite</div>
          <mat-icon small>open_in_new</mat-icon>
        </button>
        -->
        <button (click)="clickMenuButton('feedback')" class="iconButton">
          <mat-icon>mail</mat-icon>
          <span i18n="title of feedback">Feedback</span>
        </button>
        <button (click)="ss.showSettings()" class="iconButton">
          <mat-icon>settings</mat-icon>
          <span i18n="title of settings">Einstellungen</span>
        </button>
        <!--
        globals.viewType wird aktuell nicht ausgewertet. Es gibt zunächst nur den
        Tileview. Wenn Benutzer den Listview zurück wollen, wird der wieder aktiviert.
        <button (click)="clickMenuButton('menu')" class="iconButton">
          <ng-container *ngIf="globals.viewType==='tile'">
            <mat-icon>list</mat-icon>
            <div i18n="title of change to listview">Zur Listenansicht</div>
          </ng-container>
          <ng-container *ngIf="globals.viewType==='list'">
            <mat-icon>dashboard</mat-icon>
            <div i18n="title of change to tileview">Zur Kachelansicht</div>
          </ng-container>
        </button>
        -->
        <button (click)="toggleSync()" class="iconButton">
          <ng-container *ngIf="!ds.hasSync">
            <mat-icon>sync_disabled</mat-icon>
            <div i18n="synchronize">Synchronisieren</div>
          </ng-container>
          <ng-container *ngIf="ds.hasSync">
            <img alt="dropbox" src="assets/img/dropbox.png">
            <div i18n="synchronized with dropbox">Mit Dropbox synchronisiert</div>
          </ng-container>
        </button>
        <!--
                <signin [isVisible]="true"
                        [autoStart]="false"
                        [showMenuButton]="true"
                        [raised]="true"
                        [(isAuthorized)]="g.syncGoogle"
                        [clientId]="g.googleClientId"
                        (onEvent)="signinEvent($event)"
                        (signinResult)="g.client=$event"></signin>
                        -->
        <button (click)="ss.showPopup('whatsnew')" class="iconButton">
          <mat-icon>new_releases</mat-icon>
          <span i18n="title of whatsnew screen">Was bisher geschah...</span>
        </button>
      </div>
      <div class="menu-links">
        <button (click)="clickMenuButton('nightscout')" *ngIf="globals.user!=null && globals.user.apiUrl(null, '', {noApi: true})!=null" class="iconButton">
          <img alt="nightscout white" src="assets/img/nightscout-white.png">
          <span i18n="title of nightscout page">Nightscout Seite</span>
          <mat-icon small>open_in_new</mat-icon>
        </button>
        <button (click)="clickMenuButton('nsreports')" *ngIf="globals.user?.reportUrl != null" class="iconButton">
          <img alt="nightscout white" src="assets/img/nightscout-white.png">
          <span i18n="title of nightscout reports">Nightscout Berichte</span>
          <mat-icon small>open_in_new</mat-icon>
        </button>
        <button (click)="clickMenuButton('nswatch')" class="iconButton">
          <img alt="nightscout white" src="assets/img/night-watch-white.png">
          <span i18n="title of night-watch">Night-Watch</span>
          <mat-icon small>open_in_new</mat-icon>
        </button>
        <button (click)="clickMenuButton('local-tools')" *ngIf="globals.isLocal" class="iconButton is-local">
          <img alt="nightscout white" src="assets/img/nightscout.png">
          <span i18n="title of local tools">Local Tools</span>
          <mat-icon small>open_in_new</mat-icon>
        </button>
        <button (click)="clickMenuButton('googlecloud')" *ngIf="globals.isLocal" class="iconButton is-local">
          <img alt="nightscout white" src="assets/img/nightscout.png">
          <span i18n="title of local tools">Google Cloud Setup</span>
          <mat-icon small>open_in_new</mat-icon>
        </button>
        <div class="menu-legal">
          <button (click)="ss.showPopup('impressum')" class="legal" mat-button>{{msgImpressum}}</button>
          <button (click)="ss.showPopup('dsgvo')" class="legal" mat-button>{{msgDSGVO}}</button>
          <!--
                  <div class="menuFabs" [style.display]="g.canDebug?'flex':'none'">
                    <div *ngIf="g.isDebug" class="toggle-debug">
                      <material-button icon mini class="material-drawer-button"
                                       (trigger)="clickMenuButton('jsonparser')">
                        <material-icon icon="code"></material-icon>
                      </material-button>
                      <material-button icon mini class="material-drawer-button"
                                       (trigger)="clickMenuButton('translate')">
                        <material-icon icon="g_translate"></material-icon>
                      </material-button>
                      <material-button icon mini class="material-drawer-button"
                                       (trigger)="clickMenuButton('autotune')">
                        <material-icon icon="tune"></material-icon>
                      </material-button>
                    </div>
                  </div
          -->
        </div>
      </div>
    </div>
    <div [class]="getDrawerClass(1)">
      <div class="content">
        <div *ngFor="let item of globals.shortcutList; let idx = index" [class]="shortcutClass(item)">
          <button (click)="ss.activateShortcut(idx)">
            <span content>
              <mat-icon>{{item.icon}}</mat-icon>
              <span text>{{item.name}}</span>
            </span>
          </button>
          <button (click)="editShortcut(idx)">
            <mat-icon small>edit</mat-icon>
          </button>
        </div>
        <div class="shortcut">
          <button (click)="editShortcut(-1)" class="add">
            <span content>
              <mat-icon>add</mat-icon>
              <span text>{{msgAddText}}</span>
            </span>
          </button>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar [class]="classForHeader">
      <mat-toolbar-row>
        <div style="z-index:10000;position:absolute;left:50%;top:50%;background:red;border:1px solid red">
          <color-cfg *ngIf="globals.editColors" colorKey=""></color-cfg>
        </div>
        <div [class]="classForView('basePanel')">
          <button (click)="clickUser()" class="userName toolbar-button">{{globals.user.display}}</button>
          <div *ngIf="globals.userList.length > 1 && false" [class]="classForView('userPanel')">
            <mat-form-field>
              <mat-select [(value)]="userIdx">
                <mat-select-trigger>
                  {{ss.isEmpty(globals.user.display) ? '' : globals.user.display}}
                </mat-select-trigger>
                <mat-option (click)="ss.activateUser(idx)"
                            *ngFor="let item of globals.userList; let idx = index"
                            [class]="userClass(item)"
                            [value]="idx">
                  <div class="itemTitle">{{ss.isEmpty(item.name) ? item.apiUrl(null, "", {noApi: true}) : item.name}}</div>
                  <div class="itemSub">{{item.apiUrl(null, "", {noApi: true})}}</div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!--
                    <datepicker [period]="g.period" (periodChange)="changePeriod($event)" [isLocal]="g.isLocal"
                                [showInfo]="g.showInfo" [showLabel]="false"></datepicker>
          -->
        </div>
        <div>
          <button (click)="drawer.toggle()" class="toolbar-button" mat-icon-button>
            <mat-icon *ngIf="drawer.opened">menu_open</mat-icon>
            <ng-container *ngIf="!drawer.opened">
              <mat-icon *ngIf="!ds.hasSync">menu</mat-icon>
              <img *ngIf="ds.hasSync" alt="dropbox" src="assets/img/dropbox.png">
            </ng-container>
          </button>
          <div class="title">
            <div>
              <span class="appTitle">{{globals.appTitle}}</span>
              <span *ngIf="globals.isBeta" class="toolbar-button betaTitle">BETA</span>
              <button (click)="clickLocalTitle()" *ngIf="globals.runsLocal" class="toolbar-button localTitle" mat-button>
                <span *ngIf="globals.isLocal">Lokal</span>
                <span *ngIf="!globals.isLocal">Vorschau</span>
              </button>
            </div>
            <button (click)="ss.showPopup('whatsnew')" class="versionText toolbar-button">{{globals.displayVersion}}</button>
          </div>
        </div>
        <nav class="material-navigation">
          <button (click)="globals.editColors=!globals.editColors" *ngIf="globals.isLocal" class="is-local" mat-mini-fab>
            <mat-icon>palette</mat-icon>
          </button>
          <button (click)="clickDebugTrigger()" *ngIf="ss.mayDebug" class="debug" mat-mini-fab>
            <mat-icon>bug_report</mat-icon>
          </button>
          <!--
          <button (click)="clickUserImage()" *ngIf="gs?.userImage != null" mat-icon-button>
            <img (error)="ss.handleMissingImage($event)"
                 [src]="ss.reloadUserImg ? gs?.userImage : 'https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA'"
                 alt="userimage" class="userimage">
          </button>
          -->
          <!--
                    <material-button *ngIf="g.showCurrentGluc" raised class="currentGluc" (trigger)="navigate('?watch')">
                      <pre *ngIf="!g.currentGlucVisible" @i18n="message for current glucose if not active">Pausiert</pre>
                      <div *ngIf="g.currentGlucVisible">
                        <div factor *ngIf="g.user.adjustGluc">*{{g.msgAdjustFactor}}</div>
                        {{g.currentGluc}}
                        <div time>{{g.currentGlucTime}}</div>
                        <div *ngIf="g.isLocal" debug>{{g.currentGlucCounter}}</div>
                      </div>
                      <div arrow *ngIf="g.currentGlucVisible">
                        <div>
                          <svg class="arrow" [style.transform]="g.currentGlucDir" viewBox="0 0 100 100" version="1.1"
                               xmlns="http://www.w3.org/2000/svg">
                            <g transform="matrix(0.689535,0,0,0.689535,15.5233,15.5233)">
                              <circle class="circle" cx="50" cy="50" r="37.391"/>
                            </g>
                            <g transform="matrix(2.13103,0,0,1,-113.103,0.000479201)">
                              <path d="M100,50.002L87.391,59.934L87.395,40.065L100,50.002Z"/>
                            </g>
                          </svg>
                        </div>
                        <div diff class="centered">{{g.currentGlucDiff}}</div>
                      </div>
                    </material-button>
                    <a *ngIf="!g.showCurrentGluc" href="http://www.nightscout.info/" target="_blank">#WeAreNotWaiting</a>
          -->
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="content">
      <app-view-tile *ngIf="globals.viewType==='tile'"></app-view-tile>
      <app-view-list *ngIf="globals.viewType==='list'"></app-view-list>
      <app-view-users *ngIf="globals.viewType==='users'"></app-view-users>
    </div>
    <div *ngIf="hasFooterBar" class="footer">
      <app-owl-menu></app-owl-menu>
      <button (click)="clickAddUser()"
              *ngIf="globals.viewType === 'users'"
              mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button (click)="clickSend()"
              *ngIf="globals.viewType === 'tile'"
              [attr.aria-label]="ss.msgAriaPlay"
              [class]="sendClass(0,sendIcon)"
              [disabled]="ss.activeCfgCount===0"
              mat-fab>
        <span *ngIf="ss.activeCfgCount>0">{{ss.activeCfgCount}}</span>
        <mat-icon>{{createIcon}}</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="globals.viewType === 'list'">
      <div class="owlPanel">
        <app-owl-menu></app-owl-menu>
      </div>
      <div class="sendPanel">
        <button (click)="clickSend()"
                [attr.aria-label]="ss.msgAriaPlay"
                [class]="sendClass(0,sendIcon)"
                [disabled]="ss.activeCfgCount===0"
                mat-fab>
          <span *ngIf="ss.activeCfgCount>0">{{ss.activeCfgCount}}</span>
          <mat-icon>{{createIcon}}</mat-icon>
        </button>
      </div>
    </ng-container>
    <app-log></app-log>
  </mat-drawer-content>
</mat-drawer-container>
<app-progress></app-progress>
