@import 'google-fonts.css';
@import 'assets/themes/standard/index.css';

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --logInfoBack: #606099;
  --logInfoFore: #fff;
  --logWarnBack: #ff8020;
  --logWarnFore: #fff;
  --logErrorBack: #ff2020;
  --logErrorFore: #fff;
  --logTodoBack: #4040ff;
  --logTodoFore: #c0c0ff;
  --logTodoBorder: rgba(255, 255, 255, 0.7);
  --logDebugColor: 255, 255, 0;
  --logDebugBack: repeating-linear-gradient(45deg, rgba(var(--logDebugColor), 0.6), rgba(var(--logDebugColor), 0.6) 10px, rgba(var(--logDebugColor), 0.8) 10px, rgba(var(--logDebugColor), 0.8) 20px);
  --logDebugFore: #000;
  --toolbarBack: rgba(0, 0, 0, 0.3);
  --toolbarFore: #fff;
  --helpBack: #fff;
  --helpFore: #000;
  --markBorder: 1px solid #000;
  --mainHeaderBack: var(--primaryBack);
  --mainHeaderFore: var(--primaryFore);
  --mainBodyBack: var(--secondaryBack);
  --mainBodyFore: var(--secondaryFore);

  --primaryBack: #055524;
  --primaryFore: white;
  --secondaryBack: #57bb8a;
  --secondaryFore: black;
  --debugFirst: #220;
  --debugSecond: #550;
  --debugFore: #f4b400;
  --settingsHeaderBack: #006064;
  --settingsHeaderFore: #b2ebf2;
  --settingsBodyBack: #4dd0e1;
  --settingsBodyFore: black;
  --settingsScrollThumb: #0097a7;
  --settingsError: #db4437;
  --legalHeaderBack: #e65100;
  --legalHeaderFore: #ffe0b2;
  --legalBodyBack: #ffb74d;
  --legalBodyFore: black;
  --legalScrollThumb: #f57c00;
  --legalLink: #e65100;
  --whatsnewHeaderBack: #1c3aa9;
  --whatsnewHeaderFore: #c6dafc;
  --whatsnewBodyBack: #4285f4;
  --whatsnewBodyFore: black;
  --whatsnewScrollThumb: #3367d6;
  --whatsnewLink: rgba(255, 255, 255, 0.6);
  --localFore: #9c27b0;
  --localBack: #e1bee7;
  --betaFore: #097138;
  --betaBack: transparent;
  --pdfBtnBack: #e06055;
  --pdfBtnFore: #ffffffcc;
  --pdfInfoFore: #000000b2;
  --sendMarked: #0277bd;
  --googleSignedout: #e06055;
  --loopMarked: rgba(255, 255, 255, 0.6);
  --outputparamsHeaderBack: #a52714;
  --outputparamsHeaderFore: #f4c7c3;
  --outputparamsBodyBack: #e67c73;
  --outputparamsBodyFore: black;
  --printparamsScrollThumb: #c53929;
  --shortcutHeaderBack: #01579b;
  --shortcutHeaderFore: #b3e5fc;
  --shortcutBodyBack: #4fc3f7;
  --shortcutBodyFore: black;
  --shortcutScrollThumb: #0288d1;
  --helpHeaderBack: #33691e;
  --helpHeaderFore: #dcedc8;
  --helpBodyBack: #aed581;
  --helpBodyFore: black;
  --helpScrollThumb: #689f38;
  --infoHeaderBack: #a52714;
  --infoHeaderFore: #f4c7c3;
  --infoBodyBack: #e67c73;
  --infoBodyFore: black;
  --infoWarningColor: #f6bf26;
  --infoErrorColor: #e06055;
  --infoInfoColor: #5e97f6;
  --infoScrollThumb: #c53929;
  --glucLow: #ff6666;
  --glucNormLow: #809933;
  --glucNorm: #00cc00;
  --glucNormHigh: #aacc00;
  --glucHigh: #cccc00;
  --datepickerBtnEmptyBack: #e67c73;
  --datepickerBtnEmptyFore: white;
  --datepickerHeaderEmptyBack: #db4437;
  --datepickerHeaderEmptyFore: white;
  --datepickerHeaderBack: #006064;
  --datepickerHeaderFore: white;
  --datepickerBodyBack: #00bcd4;
  --datepickerMonthTitleBack: #006064;
  --datepickerMonthTitleFore: white;
  --datepickerMonthBack: #00bcd4;
  --datepickerMonthFore: black;
  --datepickerBtnRaisedBack: #0097a7;
  --datepickerBtnRaisedFore: black;
  --datepickerBtnRaisedKeyBack: #0b8043;
  --datepickerBtnRaisedKeyFore: white;
  --datepickerBtnShiftKeyBack: rgba(255, 255, 255, 0.4);
  --datepickerBtnShiftKeyFore: black;
  --datepickerDowActiveBack: #006064;
  --datepickerDowActiveFore: #aed581;
  --datepickerDowInactiveBack: #db4437;
  --datepickerDowInactiveFore: #eda29b;
  --sendCountFore: black;
  --sendCountFrame: white;
}

mat-icon[small] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.hidden {
  display: none !important;
}

.is-local {
  color: var(--localFore) !important;
  background-color: var(--localBack) !important;
}

.dialog-box {
  min-width: 30vw;

  mat-dialog-container {
    padding: 0;

    [mat-dialog-title] {
      cursor: move;
      padding: 0.6em;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      h1 {
        display: flex;
        gap: 0.5em;
        align-items: center;
        margin: 0;
        font-size: 1.4em;
        font-weight: normal;
      }
    }

    mat-dialog-content {
      padding: 1em;
      margin: 0;
      font-size: 1.2em;
      min-width: 50%;
    }

    mat-dialog-actions {
      margin: 0;
      padding: 0;
      min-height: 3em;
      justify-content: space-between;

      .mat-button-wrapper {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
      }
    }
  }
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cover {
  position: absolute;
  top: 0;
  left: 50%;
  width: 76px;
  margin-left: -38px;
  height: 64px;
}

.owl {
  position: absolute;
  top: 0;
  left: 50%;
  height: 64px;
  margin-left: -24px;
  animation: owl 3s ease-in-out normal infinite;
}

@keyframes owl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.landscape {
  position: absolute;
  top: 40px;
  margin-left: -17px;
}

.portrait {
  position: absolute;
  top: 29px;
  margin-left: -12px;
}

.p1 {
  transform: rotate(180deg);
  _animation: p1 3s linear normal infinite;
}

.mat-raised-button {
  background-color: var(--primaryBack);
  color: var(--primaryFore);
}

.mat-flat-button, .mat-fab, .mat-mini-fab {
  background-color: transparent;
}

@keyframes p1 {
  0% {
    top: 29px;
    opacity: 1.0;
  }
  20% {
    top: 29px;
  }
  30% {
    top: 65px;
  }
  50% {
    top: 65px;
    opacity: 1.0;
  }
  60% {
    top: 65px;
    opacity: 0;
  }
  100% {
    top: 65px;
    opacity: 0;
  }
}

.p2 {
  transform: rotate(180deg);
  _animation: p2 3s linear normal infinite;
}

@keyframes p2 {
  0% {
    top: 65px;
    opacity: 1.0;
  }
  10% {
    top: 65px;
    opacity: 0.0;
  }
  50% {
    top: 39px;
    opacity: 0.0;
  }
  70% {
    top: 39px;
    opacity: 1.0;
  }
  80% {
    top: 65px;
  }
  100% {
    top: 65px;
  }
}

.imageButton {
  img {
    height: 16px;
  }
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-weight: normal;
}

.debug {
  background: var(--logDebugBack);
  color: var(--logDebugFore) !important;
}

$theme-width: 13em;
$lang-height: 31em;
@keyframes owl_showthemes {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  90% {
    width: calc(#{$theme-width} + 1em);
  }
  100% {
    width: $theme-width;
  }
}

@keyframes owl_hidethemes {
  0% {
    width: $theme-width;
  }
  10% {
    width: calc(#{$theme-width} + 1em);
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes owl_showlanguages {
  0% {
    height: 0;
  }
  10% {
    height: 0;
  }
  90% {
    height: calc(#{$lang-height} + 1em);
  }
  100% {
    height: $lang-height;
  }
}

@keyframes owl_hidelanguages {
  0% {
    height: $lang-height;
  }
  10% {
    height: calc(#{$lang-height} + 1em);
  }
  90% {
    height: 0;
  }
  100% {
    height: 0;
  }
}

@keyframes owl_showthemeslogo {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(390deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes owl_hidethemeslogo {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(390deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
