@import 'google-fonts.css';
@import 'assets/themes/standard/index.css';

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --logInfoBack: #606099;
  --logInfoFore: #fff;
  --logWarnBack: #ff8020;
  --logWarnFore: #fff;
  --logErrorBack: #ff2020;
  --logErrorFore: #fff;
  --logTodoBack: #4040ff;
  --logTodoFore: #c0c0ff;
  --logTodoBorder: rgba(255, 255, 255, 0.7);
  --logDebugColor: 255, 255, 0;
  --logDebugBack: repeating-linear-gradient(45deg, rgba(var(--logDebugColor), 0.6), rgba(var(--logDebugColor), 0.6) 10px, rgba(var(--logDebugColor), 0.8) 10px, rgba(var(--logDebugColor), 0.8) 20px);
  --logDebugFore: #000;
  --toolbarBack: rgba(0, 0, 0, 0.3);
  --toolbarFore: #fff;
  --helpBack: #fff;
  --helpFore: #000;
  --markBorder: 1px solid #000;
  --mainHeaderBack: var(--primaryBack);
  --mainHeaderFore: var(--primaryFore);
  --mainBodyBack: var(--secondaryBack);
  --mainBodyFore: var(--secondaryFore);
  --sendCountFore: black;
  --sendCountFrame: white;
}

mat-icon[small] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}

.hidden {
  display: none !important;
}

.is-local {
  color: var(--localFore) !important;
  background-color: var(--localBack) !important;
}

.dialog-box {
  min-width: 30vw;

  mat-dialog-container {
    padding: 0;

    [mat-dialog-title] {
      cursor: move;
      padding: 0.6em;
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      h1 {
        display: flex;
        gap: 0.5em;
        align-items: center;
        margin: 0;
        font-size: 1.4em;
        font-weight: normal;
      }
    }

    mat-dialog-content {
      padding: 1em;
      margin: 0;
      font-size: 1.2em;
      min-width: 50%;
    }

    mat-dialog-actions {
      margin: 0;
      padding: 0;
      min-height: 3em;
      justify-content: space-between;

      .mat-button-wrapper {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        gap: 1em;
      }
    }
  }
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.cover {
  position: absolute;
  top: 0;
  left: 50%;
  width: 76px;
  margin-left: -38px;
  height: 64px;
}

.owl {
  position: absolute;
  top: 0;
  left: 50%;
  height: 64px;
  margin-left: -24px;
  animation: owl 3s ease-in-out normal infinite;
}

@keyframes owl {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.landscape {
  position: absolute;
  top: 40px;
  margin-left: -17px;
}

.portrait {
  position: absolute;
  top: 29px;
  margin-left: -12px;
}

.p1 {
  transform: rotate(180deg);
  _animation: p1 3s linear normal infinite;
}

.mat-raised-button {
  background-color: var(--primaryBack);
  color: var(--primaryFore);
}

.mat-flat-button, .mat-fab, .mat-mini-fab {
  background-color: transparent;
}

@keyframes p1 {
  0% {
    top: 29px;
    opacity: 1.0;
  }
  20% {
    top: 29px;
  }
  30% {
    top: 65px;
  }
  50% {
    top: 65px;
    opacity: 1.0;
  }
  60% {
    top: 65px;
    opacity: 0;
  }
  100% {
    top: 65px;
    opacity: 0;
  }
}

.p2 {
  transform: rotate(180deg);
  _animation: p2 3s linear normal infinite;
}

@keyframes p2 {
  0% {
    top: 65px;
    opacity: 1.0;
  }
  10% {
    top: 65px;
    opacity: 0.0;
  }
  50% {
    top: 39px;
    opacity: 0.0;
  }
  70% {
    top: 39px;
    opacity: 1.0;
  }
  80% {
    top: 65px;
  }
  100% {
    top: 65px;
  }
}

.imageButton {
  img {
    height: 16px;
  }
}

.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-weight: normal;
}

.debug {
  background: var(--logDebugBack);
  color: var(--logDebugFore) !important;
}
