<div [innerHTML]="svgCollection" style="display:none"></div>
<svg owl viewBox="35 50 135 200">
  <use [attr.href]="'#owl-standard'"/>
</svg>
<div [routerLink]="'/'" btn>
  <svg viewBox="0 0 28.57 20" youtube>
    <use [attr.href]="'#youtube'"/>
  </svg>
  <div title>
    <div>https://nightrep.zreptil.de</div>
  </div>
</div>
<svg owl viewBox="35 50 135 200">
  <use [attr.href]="'#owl-standard'"/>
</svg>
<!-- button [routerLink]="'/'" mat-button>
  <svg viewBox="35 50 135 200">
    <use [attr.href]="'#owl-standard'"/>
  </svg>
  https://nightrep.zreptil.de
  <svg viewBox="35 50 135 200">
    <use [attr.href]="'#owl-standard'"/>
  </svg>
</button -->
