:host {
  overflow: hidden
}

.owllogo {
}

.langPanel {
  position: absolute;
  bottom: 3.5em;
  width: 3em;
  left: 0.5em;
  overflow: hidden;
  border-radius: 0.5em;

  [frame] {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--mainHeaderBack);
    background-color: var(--mainBodyBack);
    border-radius: 0.5em;
  }

  button {
    width: 2.5em;
    padding: 0;
    min-width: 0;
    border-radius: 20%;

    ::ng-deep .mat-button-wrapper {
      justify-content: center;
      padding: 0;

      img {
        padding: 0.3em;
        width: 1.5em;
        height: initial;
      }
    }
  }
}

.themePanel {
  display: flex;
  flex-flow: row;
  position: absolute;
  bottom: 0.75em;
  left: 3.2em;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;

  .themelogo {
    background-color: transparent;
    box-shadow: none;

    ::ng-deep .mat-button-wrapper {
      padding: 0;

      img {
        height: 32px;
      }
    }
  }

  .donation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffc439;
    color: black;
    height: 2em;
    text-transform: none;
    border-radius: 2em !important;
  }
}

.owllogo {
  background-color: transparent;
  box-shadow: none;

  ::ng-deep .mat-button-wrapper {
    padding: 0;

    img {
      width: 32px;
    }
  }
}
