<!--suppress HtmlUnknownTarget -->
<div [innerHTML]="svgCollection" style="display:none"></div>
<div [style]="themeStyle" class="themePanel">
  <button (click)="ss.donationClick()" class="donation" i18n="title of donate button" mat-flat-button>Spenden</button>
  @for (key of globals.themeListKeys; let idx = $index; track idx) {
    <button (click)="togglePanels(key)" class="themelogo" mat-mini-fab>
      @if (key === 'null') {
        <svg style="width:90%;height:90%" viewBox="0 0 219 250">
          <use href="#owl-wizard"/>
        </svg>
      }
      @if (key !== 'null') {
        <svg style="width:90%;height:90%" viewBox="0 0 219 250">
          <use [attr.href]="owlId(key)"/>
        </svg>
      }
      <!-- img *ngIf="key!=='null'" alt="owl logo" class="logo" src="assets/themes/{{key}}/owl.svg" -->
    </button>
  }
  <app-close-button [data]="closeData"></app-close-button>
</div>
<div [style]="langStyle" class="langPanel">
  <div frame>
    @for (item of globals.languageList; track item; let idx = $index) {
      <div [ngStyle]="{zIndex:1000-idx}"
           class="btnLanguage">
        <button (click)="togglePanels(item)" [class]="ss.languageClass(item)" mat-icon-button>
          <img alt="language image" class="language" src="{{item.imgPath}}">
        </button>
        @if (item.crowdin != null) {
          <a [href]="item.crowdin.languageUrl" class="crowdin" target="_blank" title="Crowdin">
            <img [src]="item.crowdin.languageBadgeUrl" alt="{{item.crowdin.langName}} proofreading">
          </a>
        }
      </div>
    }
  </div>
</div>
<button (click)="togglePanels('')" [style]="logoStyle" class="owllogo" mat-fab>
  <!-- img alt="owl logo" src="assets/themes/{{globals.theme}}/owl.png" -->
  <!-- img alt="owl logo" owl src="assets/themes/{{globals.theme}}/owl.svg" -->
  <svg style="width:90%;height:90%" viewBox="0 0 219 250">
    <use [attr.href]="owlId(globals.themeKey)"/>
  </svg>
  <!--svg style="width:90%;height:90%" viewBox="0 0 230 230">
  <use href="#Outerbody"/>
  <use href="#Innerbody"/>
  </svg -->
</button>
