:host {
  --headBack: var(--mainHeadBack);
  overflow: hidden
}

.owllogo {
}

.langPanel {
  position: absolute;
  bottom: 3.5em;
  width: 12em;
  left: 0.5em;
  overflow: hidden;
  border-radius: 0.5em;
  z-index: 110;

  [frame] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid var(--headBack);
    background-color: var(--headBack);
    border-radius: 0.5em;
    padding: 0.2em;
  }

  button {
    width: 2.5em;
    padding: 0;
    min-width: 0;
    border-radius: 20%;
    justify-content: center;

    img {
      padding: 0.3em;
      width: 1.0em;
      height: initial;
    }
  }

  .btnLanguage:not(:hover) {
    .crowdin {
      display: none;
    }
  }

  .crowdin {
    margin-top: 12px;
    position: fixed;
  }
}

.themePanel {
  display: flex;
  flex-flow: row;
  position: absolute;
  bottom: 0.75em;
  left: 3.2em;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;

  .themelogo {
    background-color: transparent;
    box-shadow: none;

    img {
      height: 32px;
    }
  }

  .donation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffc439;
    color: black;
    height: 2em;
    text-transform: none;
    border-radius: 2em !important;
  }
}

.owllogo {
  background-color: transparent;
  box-shadow: none;

  ::ng-deep img {
    width: 32px;
  }
}

.currLang {
  background-color: rgba(255, 255, 255, 0.5);
}

