:host {
  overflow: hidden
}

.owllogo {
}

.langPanel {
  display: flex;
  flex-flow: column;
  position: absolute;
  bottom: 4em;
  width: 3em;
  left: 0.5em;
  overflow: hidden;
  align-items: center;
  justify-content: flex-start;

  button {
    width: 2.5em;
    padding: 0;
    min-width: 0;
    border-radius: 20%;

    ::ng-deep .mat-button-wrapper {
      justify-content: center;
      padding: 0;

      img {
        padding: 0.3em;
        width: 1.5em;
        height: initial;
      }
    }
  }
}

.themePanel {
  display: flex;
  flex-flow: row;
  position: absolute;
  bottom: 0.75em;
  left: 3.2em;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;

  .themelogo {
    background-color: transparent;
    box-shadow: none;

    ::ng-deep .mat-button-wrapper {
      padding: 0;

      img {
        height: 32px;
      }
    }
  }

  .donation {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffc439;
    color: black;
    height: 2em;
    text-transform: none;
    border-radius: 2em !important;
  }
}

$theme-width: 15em;
$lang-height: 26em;

@keyframes showthemes {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  90% {
    width: calc(#{$theme-width} + 1em);
  }
  100% {
    width: $theme-width;
  }
}

@keyframes hidethemes {
  0% {
    width: $theme-width;
  }
  10% {
    width: calc(#{$theme-width} + 1em);
  }
  90% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes showlanguages {
  0% {
    height: 0;
  }
  10% {
    height: 0;
  }
  90% {
    height: calc(#{$lang-height} + 1em);
  }
  100% {
    height: $lang-height;
  }
}

@keyframes hidelanguages {
  0% {
    height: $lang-height;
  }
  10% {
    height: calc(#{$lang-height} + 1em);
  }
  90% {
    height: 0;
  }
  100% {
    height: 0;
  }
}

@keyframes showthemeslogo {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-30deg);
  }
  90% {
    transform: rotate(390deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hidethemeslogo {
  0% {
    transform: rotate(360deg);
  }
  10% {
    transform: rotate(390deg);
  }
  90% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.owllogo {
  background-color: transparent;
  box-shadow: none;

  ::ng-deep .mat-button-wrapper {
    padding: 0;

    img {
      width: 32px;
    }
  }
}
