<!--suppress HtmlUnknownTarget -->
<div [style]="themeStyle" class="themePanel">
  <button (click)="ss.donationClick()" class="donation" i18n="title of donate button" mat-flat-button>Spenden</button>
  <button (click)="togglePanels(key)" *ngFor="let key of globals.themeListKeys; let idx = index" class="themelogo" mat-mini-fab>
    <img *ngIf="key==='null'" alt="wizard logo" class="logo" src="assets/themes/wizard.png">
    <img *ngIf="key!=='null'" alt="owl logo" class="logo" src="assets/themes/{{key}}/owl.png">
  </button>
</div>
<div [style]="langStyle" class="langPanel">
  <div frame>
    <div *ngFor="let item of globals.languageList; let idx = index" class="btnLanguage">
      <button (click)="togglePanels(item)" [class]="ss.languageClass(item)" mat-icon-button>
        <img alt="language image" class="language" src="{{item.imgPath}}">
      </button>
      <a *ngIf="item.crowdin != null" [href]="item.crowdin.languageUrl" class="crowdin" target="_blank" title="Crowdin">
        <img [src]="item.crowdin.languageBadgeUrl" alt="{{item.crowdin.langName}} proofreading">
      </a>
    </div>
  </div>
</div>
<button (click)="togglePanels('')" [style]="logoStyle" class="owllogo" mat-fab>
  <img alt="owl logo" src="assets/themes/{{globals.theme}}/owl.png">
</button>
