.dialog-text {
  div {
    margin: 0.5em 0;
  }

  ::ng-deep .mark {
    font-weight: bold;
  }
}

.mat-mdc-button:not(:disabled) {
  color: var(--fore);
}

::ng-deep a, a:visited {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
