<!--suppress HtmlDeprecatedAttribute -->
<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.dialog">
  <div [style]="customStyle('Header')" cdkDragHandle class="type{{data?.type}}" mat-dialog-title>
    <h1>
      <mat-icon *ngIf="showTitleIcon">{{titleIcon}}</mat-icon>
      <img (error)="noImage($event)" *ngIf="showTitleImage" [src]="titleImage" alt="titleimage">
      {{data.title}}
    </h1>
    <div spacer></div>
    <button (click)="clickClose()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-dialog-content [style]="customStyle('Body')" class="dialog-text">
    <div *ngFor="let text of data.display" [innerHTML]="text"></div>
  </mat-dialog-content>
  <mat-dialog-actions [style]="customStyle('Header')" align="end" class="type{{data?.type}}">
    <ng-container *ngFor="let btn of data.buttons; let idx = index">
      <button (click)="closeDialog(btn)" *ngIf="btn.url == null" mat-button>
        <mat-icon *ngIf="btn.icon != null">{{btn.icon}}</mat-icon>
        {{btn.title}}
      </button>
      <button (click)="openUrl(btn)" *ngIf="btn.url != null" mat-button>
        <mat-icon *ngIf="btn.icon != null">{{btn.icon}}</mat-icon>
        {{btn.title}}
      </button>
    </ng-container>
  </mat-dialog-actions>
</div>
